[2016-12-18 12:25] vittala commented on #1
A slight addition to the patch attached here. This adds `rel="noopener noreferrer"` to the links to external sites to avoid problems if the external site is compromised. See https://www.jitbit.com/alexblog/256-targetblank---the-most-underestimated-vulnerability-ever/

[wp-mailer-patch-20161218.txt](https://github.com/chmac/wp-mail-smtp/files/659408/wp-mailer-patch-20161218.txt)

[2017-03-16 08:18] chmac commented on #7
This repo doesn't have all the releases. I couldn't get svn and git to play nicely together so in the end I added `.git` to the svn exclude file and I did `git init` inside the `trunk` folder inside the `svn checkout`.

What prompted the question?

[2017-03-16 10:12] jconroy commented on #7
I was just wanting to be able to select different versions (for testing etc) - having the versions tagged just makes switching much easier when managing the plugin using git.

Means I can also pin a specific release version more easily if I use the repo as a submodule in projects.

At the moment I'd have to trawl through the commit history (https://github.com/chmac/wp-mail-smtp/commits/master) and

[2017-03-16 10:52] chmac commented on #7
Hmm, I see the use case. Unfortunately I don't see an easy fix. I can try to remember to tag versions as I release them, but not 100% sure that I will remember. I'm open to a PR if you want to submit one. Not sure that you can submit tags as a PR, but maybe I can pull them from your branch or something.

Bottom line, my defacto release strategy is via svn as that's how the plugin actually gets rel

[2017-03-16 10:53] jconroy commented on #7
No worries. If I can get a chance and it becomes enough of a pain point I'll see what I can help figure out.

[2017-03-21 15:18] LaszloHont opened #8 "Suggestion for new mail option: do nothing successfully"
Great plugin. Sometimes on a test website it's useful to prevent mail from being sent. There are two plugins that can do this, but the interaction with wp-mail-smtp makes them a bit dangerous (they all do things with wp_mail())

Could wp-mail-smtp have an option to do nothing successfully, as in not send an e-mail at all rather than connect to an smtp server?

[2017-05-21 03:53] brickcap opened #10 "Configurable "FROM" email in a multisite install"
Hi Callum,

Thanks for making this plugin! Is it possible to configure the FROM email in a multisite install? I want to use this plugin with [wp-email-subscribers](https://wordpress.org/plugins/email-subscribers/) such that every website owner in a multisite network could submit his own FROM email.

As it is wp-mail-smtp requires you to have a global FROM email that is configured once. How would t

[2017-10-02 18:04] slaFFik commented on #2
One of the possible solutions: https://stackoverflow.com/questions/626416/php-server-name-from-command-line

[2017-10-02 22:49] noplanman commented on #2
@slaFFik That could be an option as well. Anything really, just to make sure the variable is set and the error doesn't pop up 😊

[2017-10-03 15:16] slaFFik opened #16 "Add composer support"

[2017-10-04 09:34] slaFFik commented on #8
In combination with #18 this can be really useful.

[2017-10-04 14:09] slaFFik commented on #10
This already can be achieved using WP hooks.
The main logic - find a hook that fires when a new site created, it has a `$blog_id`. Use `update_site_option()` to save into the database a new required values for required fields. Thus defaults will be present and can be based on site admin_email and description.

[2017-10-04 16:14] jaredatch commented on #22
I agree with what Callum said in that thread. I think it would need to be a new specific option for it, for backwards compatibility purposes.

[2017-10-04 17:52] brickcap commented on #10
Thank you @slaFFik for your response! Your idea is good. However is there any alternative if I don't want to touch my database. Specifically I wanted to know if it is possible to adjust the FROM email just before it is sent via wp_smtp? In other words is there a hook in wp_smtp itself? I'm asking because there is a possibility that I may want to use a different email than the one supplied as site-

[2017-10-04 19:15] slaFFik commented on #22
But it's actually a bug, that if No encryption is set, `SMTPAutoTLS` is truethy.

[2017-10-05 08:35] slaFFik commented on #10
No, it's not possible. You should use either constant or database value. Constant will be global for all subsites, so the only way is to modify DB option when the subsite is created.

[2017-10-05 09:37] brickcap commented on #10
All right @slaFFik thanks once more!

[2017-10-05 14:29] #16 closed

[2017-10-06 11:52] slaFFik commented on #22
@jaredatch I think we should merge those No encryption and Disable.
Take a look:
![image](https://user-images.githubusercontent.com/282234/31276582-4b6086d0-aaa5-11e7-84f1-545887d312db.png)

It's just completely not clear what is the difference. No Enc is actually not SSL and not TLS, it's the same as Disable both of that. I predict, that having `SMTPAutoTLS` turned on by default as it's currently

[2017-10-06 13:14] slaFFik commented on #22
@jaredatch And again, from the latest: https://wordpress.org/support/topic/fix-cant-connect-to-smtp/

[2017-10-06 13:32] slaFFik opened #28 "Filter Debug Level for test emails"
Since the SMTPDebug setting provides lots of values, it would be really nice to make this configurable. A setting seems like overkill (though maybe consider it), but a filter seems like the perfect tool for the job.

Instead of this `$phpmailer->SMTPDebug = true;` it could be this:

[code]

Here is the usage and possible values from `class-phpmailer.php`:

[code]

[2017-10-06 13:38] slaFFik commented on #22
One more related: https://wordpress.org/support/topic/plugin-not-working-with-sendpulse/ - fails after starting TLS, I assume because of that property ^.

[2017-10-06 14:03] #28 closed

[2017-10-06 14:47] slaFFik commented on #22
`if` breakdown, where the `SMTPAutoTLS` is used:

[code]

Thus, it's safe to say, that taking into account that not only SSL option is available for users, but also No Encryption, we can safely set this var `SMTPAutoTLS = false` in that cases to prevent problems of auto TLS activation even when users set No enc.

[2017-10-06 16:17] slaFFik commented on #23
For this use case:

1. user uses pepipost
2. user decides to try other SMTP solution (like rate limits etc)
3. user switches to general SMTP settings and files all the data and saved
4. that other solution doesn't work for him
5. he wants to switch back to pepipost - but already can't as we made it hidden after options save

I've added a filter that will allow users to make pepipost always availab

[2017-10-06 17:07] slaFFik commented on #2
@noplanman
I can't replicate the issue.

Can you share the CLI command that generated that notice?

[2017-10-06 17:22] slaFFik commented on #2
Oh, disregard the previous message.

[2017-10-11 14:59] slaFFik opened #33 "Add PHP 5.2 notice"
Take the code/logic from WPForms.

[2017-10-11 15:24] jaredatch commented on #32
I think it would definitely be interesting data. The biggest hurdle is we don't have an endpoint to collect the data and would need to set one up. Not a big deal, just an extra step.

For now just we'll leave this open for discussion but don't worry about the implementation at the moment.

[2017-10-26 09:54] #33 closed

[2017-10-27 10:33] slaFFik opened #35 "Github issue and PR templates"

[2017-10-27 10:35] #35 closed

[2017-10-30 09:48] slaFFik commented on #34
This will be done once #13 will be merged after 0.11 release in the `develop` branch (into `master`).

[2017-10-30 09:49] slaFFik commented on #31
@jaredatch Will we update them for 0.11?

[2017-10-30 11:24] jaredatch commented on #31
I'll get the icon updated today hopefully. The banner we will definitely add, but need to get with Dalton to come up with something and then have it approved.

[2017-10-30 12:19] slaFFik opened #36 "Update changelogs"
Put 2 versions, one for WP.org, another for the repo.

WP.org version is shorter.

[2017-10-30 12:19] #36 closed

[2017-10-30 17:25] slaFFik commented on #13
This task is merged into `develop` branch. Let's consider it's done. All future changes will be done process separately.

[2017-10-31 08:38] slaFFik opened #39 "Sendgrid integration"
https://github.com/sendgrid/sendgrid-php

[2017-10-31 10:52] jaredatch commented on #29
Perhaps this is something we can make a filter or hidden setting for?

[2017-10-31 10:55] jaredatch commented on #8
After we're done with everything we wanted for launch, this would definitely be useful.

Right now we use the Disable Emails plugin for this, https://wordpress.org/plugins/disable-emails/

If/when we add this, I like the warning that displays site

<img width="1002" alt="screen shot 2017-10-31 at 5 55 20 am" src="https://user-images.githubusercontent.com/630686/32220540-1c1b7588-be00-11e7-9db1-44e

[2017-10-31 22:16] jaredatch commented on #42
Hey @hjoelr ,

Thanks for reaching out!

I apologize, I'm the one who approved the changelog and I agree that mentioning the ownership change certainly wouldn't have been a bad idea. I was just excited to get version `0.11` out the door and available to our 700k users. 😁

It slipped my mind since the the actual switch was over the summer, so it wasn't a recent event. After ownership transfer we di

[2017-11-01 00:17] hjoelr commented on #42
@jaredatch Thanks for the fast and thorough reply. That does help set my mind at ease. Are you considering releasing a new minor version where you mention these things in the changelog? I'm sure there are a large number of people who have not installed the update yet and there would still be benefit to having it in the changelog.

[2017-11-01 13:31] jaredatch commented on #42
I'm not going to push a new release for changelog updates, but I'll try to update the changelog whenever we have another minor release (bug fixes or whatever).

Cheers!

[2017-11-01 15:22] hjoelr commented on #42
@jaredatch Okay, that sounds good. Thanks for 'dialoging' about this stuff.

[2017-11-02 21:07] jaredatch commented on #40
💯

[2017-11-02 21:10] slaFFik commented on #40
Forgot to include a safety check agains PHP version :(
Easy task though.

[2017-11-10 16:34] #39 closed

[2017-11-10 19:02] slaFFik commented on #38
I can't replicate the issue.

[2017-11-13 19:04] jessquig opened #45 "Bottom debug section not visible"
## Plugin version 0.11.1

## Current Behavior

When running test email, the bottom part of debug message isn't visible: http://cloud.supportally.com/3I3k2C162l36 (Below "The SMTP debugging output is shown below:")

## Expected Behavior

This section should be visible.

## Steps to Reproduce (for bugs)

1. Go to Settings > WP Mail SMTP
2. Send test email and look to bottom of debug output

[2017-11-20 09:23] slaFFik opened #46 "Gmail Integration"
Get the Google Email API key/secret from a user and send emails through Gmail.

- [x] Autoload using composer
- [ ] Auth using Google API to request `send` permission
- [ ] Send emails using client id/secret and Google's API
- [ ] Remove unused classes from classmap of the autoloader #52
- [ ] Remove unused classes from a final build of the plugin (gulp exclude list)  #52

[2017-11-20 19:08] jaredatch commented on #43
While neat, personally I feel the logging and disabling feature to be more useful.

The opened stats be viewed in the Mailgun/Sendgrid etc dashboard already, and no matter what we would come up with, viewing it in that way will always be better.

[2017-11-30 18:49] #46 closed

[2017-12-04 12:53] F3L1X79 commented on #49
Woot, finally!
I personally use your plugin and had to modify this line each update to make the field of password-type.
I also think it's a bit better because it protects a bit for non-developer to access the password too easily.

By the way, may I ask why you cannot use an encryptor/decryptor library like [RNCryptor](https://github.com/RNCryptor/RNCryptor-php) to store the password in database?

[2017-12-04 13:29] slaFFik commented on #49
Microsoft advises to Disable its own "Store password using reversible encryption" feature [here](https://docs.microsoft.com/en-us/windows/device-security/security-policy-settings/store-passwords-using-reversible-encryption).

In short - it complicates the hacker life just a bit. Most of the sites are still not using SSL, so those passwords are sent in plaintext anyway.

I would still use a `WPMS_S

[2017-12-04 18:03] slaFFik commented on #56
@jaredatch
I will need to know when its release will be tagged so I can use the stable version.

[2017-12-04 19:11] jaredatch commented on #57
I think we should delete the old options, but wait until a future release in Q1 2018.

The reason is because any issues or friction that may pop up from the `1.0` upgrade (regardless if our fault, user, web host, email provider, etc)... one of the first steps users will take to resolve the issue is downgrading back t`o 0.11.x`.

We don't want to (yet) kill user's ability to downgrade.

[2017-12-05 14:08] slaFFik commented on #52
I will consider this task being done for now. Perhaps in the future, I will come back to exclude from gulp/autoloader all the not used classes.

[2017-12-08 03:03] jaredatch commented on #45
I think this is addressed in v1, in which case we close it. Correct @slaFFik ?

[2017-12-08 03:04] jaredatch commented on #31
I don't believe RTL banners are relevant anymore since with new plugin directory no longer overlays text on top of the banners.

[2017-12-08 03:14] jaredatch opened #59 "Add new "Misc" admin page tab"
The General section looks weird on the Settings tab, especially given that it only contains one item.

Instead, let's create a `Misc` tab, and move the AM Notification opt-out setting to that tab. Having a tab with only 1 options is sorta weird too, but less weird than the former. In the future we can maybe add more settings there if needed.

`Settings | Email Test | Misc`

[2017-12-08 09:00] slaFFik commented on #45
Yes, it's fixed. Displayed only in case of failed test email sending.

[2017-12-08 09:00] #45 closed

[2017-12-08 09:42] #59 closed

[2017-12-08 09:43] slaFFik commented on #59
![image](https://user-images.githubusercontent.com/282234/33759994-f30d320a-dc0c-11e7-8fee-9b14b7a462e8.png)

[2017-12-08 10:09] slaFFik opened #60 "Include mailer name into the test email"
While testing I find it handy. Users might be too, especially when checking different providers.

[2017-12-08 10:18] #60 closed

[2017-12-10 03:17] jaredatch commented on #29
I assume you're talking about `sslverify`? Did we put a filter in place in v1? If so let's close this. If not, we should consider it for the release of for a follow up update.

[2017-12-10 03:35] jaredatch opened #65 "Update readme.txt"
This is for non-changelog related updates.

- [x] Update description (will get with @syedbalkhi on this)
- [x] Update FAQs (I'll handle this Monday)

[2017-12-10 03:37] jaredatch commented on #65
@slaFFik  Should we get rid of the Upgrade Notice section in the readme.txt?

[2017-12-11 09:59] slaFFik commented on #65
No, upgrade notice is used to display a short description of the changes.
`wp-admin/update-core.php::284`:
[code]
and then later:
[code]
So I would leave it for the users convenience.

[2017-12-11 10:22] slaFFik commented on #65
This readme question should be deleted:

[2017-12-11 10:43] slaFFik commented on #65
Not correct anymore. This `(defaults to ...)` should be removed. We leave empty values now.

[2017-12-11 15:45] slaFFik commented on #68
@jaredatch Can you please try to replicate it locally and confirm that this is not just my weird install?

[2017-12-11 16:17] syedbalkhi commented on #65
Ok I'm on it guys.

[2017-12-11 16:39] syedbalkhi commented on #65
I have updated the readme in the develop branch.

[2017-12-11 17:26] jaredatch commented on #65
Much appreciated 💯

[2017-12-11 19:27] jaredatch commented on #65
All that is left is to update with a link to our WP.org support policy thread.

I have the copy for that, but need to have all docs complete before I can create it, since we'll be linking to these docs.

Should have everything wrapped up soon.

[2017-12-11 20:04] jaredatch commented on #68
Yes, I can replicate it.

It looks like there's a discrepancy between using a bool or 'yes' for the Auth value.

[2017-12-12 10:25] slaFFik commented on #37
I was not able to replicate any problems with other supported providers on a standard WooCommerce install. Closing the issue and will reply back to a user.

[2017-12-12 14:24] slaFFik commented on #61
I now reset tokens when clients values were changed, but scratching head on how to scroll to Google aith button...

[2017-12-12 17:40] #65 closed

[2017-12-12 19:53] jaredatch commented on #69
It's been fixed in a update that's already available. So just updating to the latest (v1.0.2 right now) version will resolve the issue. Sorry about the trouble!

[2017-12-12 22:10] jaredatch commented on #72
Here's the .org link for reference https://wordpress.org/support/topic/v-1-0-0/page/2/#post-9776710

[2017-12-13 13:17] slaFFik commented on #72
The fix makes sense to me.

[2017-12-13 13:41] slaFFik commented on #74
Tokens won't be affected. We also do not process auth_code/access_token at all.
I think, we can safely rely on `update_option()` saving logic and ignore these values from sanitizing:
- `pass`
- `api_key`
- `domain`
- `client_id`
- `client_secret`
- `auth_code`
- `access_token`

I will push a simple PR for that.

[2017-12-13 21:42] jaredatch commented on #83
Hey @superjunky,

Thanks for the report! This should be fixed in the next version, which hopefully will go out tomorrow :)

See https://github.com/awesomemotive/wp-mail-smtp/issues/72

Thanks!

[2017-12-14 07:33] slaFFik commented on #79
@jaredatch we actually need to test against WordFence and Vaultpress.

[2017-12-14 07:34] slaFFik commented on #79
@jaredatch Might be a good idea to notify both plugins about false-positives in a popular https://packagist.org/packages/phpseclib/phpseclib library.

[2017-12-14 08:55] slaFFik commented on #79
Tested against 1.0.2 (which was in question for this ticket).
WordFence free version doesn't report the issues with the plugin. So it's a premium-only feature, that I can't test. Same for Vaultpress (premium-only).
Thus, I can't reliably say that 1.0.3 will not be flagged.

[2017-12-14 10:11] slaFFik commented on #75
`@jaredatch` test

[2017-12-14 11:10] slaFFik commented on #76
Replicated the problem. No need in SSL installed on a domain.

[2017-12-14 11:45] slaFFik commented on #29
We have a `phpmailer` object filter to modify `SMTPOptions`, where `sslverify` should be placed.
Implementing a hack into a plugin for a misconfigured server is a bad practice. So closing this issue.

[2017-12-14 17:22] jaredatch commented on #79
Well regardless it's a step in the right direction :)

[2017-12-14 18:26] jaredatch commented on #76
Looks good to me. In the near future we need a way to show these error messages to the user (and to us) as that will help us debug and accurately describe the issue to the user.

[2017-12-14 20:20] jaredatch commented on #75
Reopening this with some more thoughts.

The Gmail SMTP plugin also includes the following in their default debug logs, I suspect in some cases it may be helpful and perhaps we should consider including as well.

[code]

Currently when using Google it also includes
[code]

I believe this should be omitted with non-SMTP/Pepipost mailers as it's not relevant.

Lastly, for non-SMTP mailers, specifica

[2017-12-18 10:33] slaFFik commented on #75
All those extra debug info will be part of the #87. In this task I will adjust the debugging output based on the mailer (so no need in PHPMailer data for non-smtp integrations).

[2017-12-18 11:05] slaFFik commented on #76
Will be part of #87

[2017-12-18 11:06] slaFFik commented on #87
Will be done in parallel with #54

[2017-12-18 14:58] raajtram commented on #89
@slaFFik thanks for setting this up. Let me know if I can help in any way. Meanwhile, what do you think a temporary solution would be? The classic SMTP?

[2017-12-18 15:45] slaFFik commented on #89
Classic SMTP might work (because it reuses the default `PHPMailer` class in WP core).

[2017-12-18 17:39] raajtram commented on #89
Sounds good - thanks.

[2017-12-20 12:42] slaFFik commented on #90
Thanks for the report. I think I got an idea of the problem.

[2017-12-21 09:13] isaumya commented on #50
Looking forward to the update.

[2017-12-21 10:03] cbeardsley2000 commented on #92
P. S. It worked fine when I set it to my personal Gmail address but when I run the same procedure on my own domain email which has a Google account, it just won't send the email. Not even the test. In the steps, it doesn't mention the "add domain" step. Is this something I need to do to make it work, including the verification of the domain with GSC? Maybe this is where the process differs from an

[2017-12-21 11:38] slaFFik commented on #92
@cbeardsley2000

You can try to use the `develop` branch version of the plugin:
[wp-mail-smtp.zip](https://github.com/awesomemotive/wp-mail-smtp/files/1579018/wp-mail-smtp.zip)

It's not yet finalized, but should be stable enough to test. Also, it contains a ton of improvements into the providers debug output.

[2017-12-21 11:40] slaFFik commented on #92
This issue doesn't relate to the plugin code/functionality, but more to a connection of your site to Gmail (something is blocking it). Thus, I'm closing this issue. But we can continue to communicate here in comments.

[2017-12-21 11:43] cbeardsley2000 commented on #92
Ok thanks. So there is no point me downloading the other plugin you mentioned?

[2017-12-21 12:03] slaFFik commented on #92
No, there is a point. It can provide a hint of what is broken.

[2017-12-21 12:06] cbeardsley2000 commented on #92
Ah ok I will give it a try, thanks. What did you think about the domain thing I mentioned? Can it be neccessary to add the domain at that point?

[2017-12-21 12:16] cbeardsley2000 commented on #92
Also, the plugin you linked to earlier is the normal plugin I was already using. Is there a way to switch to the develop version or should it be a separate plugin?

[2017-12-21 13:33] slaFFik commented on #92
@cbeardsley2000
Remove the version that is currently on your site.
Install the one from a zip in this message: https://github.com/awesomemotive/wp-mail-smtp/issues/92#issuecomment-353330053

[2017-12-21 13:38] slaFFik commented on #87
Lots of improvements were done in this field.

[2017-12-21 13:55] slaFFik opened #93 "Update Changelog and readme and package.json for 1.2.0"
Make sure assets are regenerated too.

[2017-12-21 14:00] #93 closed

[2017-12-22 14:43] slaFFik opened #97 "Zoho Mailer"
From forum support I see that quite a lot of people are using Zoho Mail.

Perhaps, we need to consider adding its API support:

[2017-12-22 21:06] ethanchoi812 commented on #97
Seeing a couple tickets with zoho in HS too

[2017-12-25 11:12] slaFFik opened #99 "Call to undefined function apache_get_module()"
## Plugin version
1.2.1

## Current Behavior

Although this function was introduced in PHP 4 0_o

## Expected Behavior

It should not through anything.

## Possible Solution

PHP-FPM vs PHP as FastCGI? Check the PHP mode or use when appropriate? Or just `function_exists()`.

[2017-12-25 11:23] slaFFik commented on #10
Closing this issue in favor of #100.

[2017-12-25 11:23] #10 closed

[2017-12-25 11:31] slaFFik commented on #99
I will need to prepare/find 2 Docker containers with WP and WP Mail SMTP 1.2.1 with PHP set up in different ways to troubleshoot and test this.

[2017-12-25 11:32] slaFFik commented on #98
Might be related to #99.

[2017-12-25 13:23] slaFFik opened #103 "Investigate Contact Form 7 email deliverability issue"
## Plugin version
1.x

## Current Behavior

Some people report, that while having `Gmail` mailer set up and Email Test working fine - emails from CF7 are not sent.

## Expected Behavior

Everything should be sent.

## Steps to Reproduce (for bugs)

1. Install and configure CF7
2. Submit several times any form and check for its notifications.

[2017-12-25 16:02] slaFFik opened #104 "Local translations should be applied to PHP 5.3+ version of a plugin"
## Plugin version
1.x

## Current Behavior

Translation that is put into `/languages` dir **might** not work out of the box.

## Expected Behavior

Always load correct translation.

## Steps to Reproduce (for bugs)

1. Prepare translation file
2. Make sure it's not in lang dir and not in translate.wp.org
3. Check whether the translation file applied or not

[2017-12-26 08:43] slaFFik commented on #103
"Mail 2" (for user) for some reason is not coming. "Mail 1" (for admin) is coming.

[2017-12-26 08:44] slaFFik commented on #99
Some people may use Nginx as a webserver, *without* Apache at all.
🤦‍♂️

[2017-12-26 09:20] #99 closed

[2017-12-26 09:25] slaFFik commented on #98
fixed in #99.

[2017-12-26 09:47] slaFFik commented on #102
I will modify this header to have a correct header. MG/SG ignores that, but have plenty of own headers. SMTP/Pepipos/Gmail will have something like this `X-Mailer: WPMailSMTP/Mailer/gmail 1.2.1`

[2017-12-26 12:50] slaFFik commented on #104
No need to do anything here, as language file that is placed in `/wp-content/languages/plugins/wp-mail-smtp-[LOCALE].mo` is loaded automatically by WordPress.

[2017-12-26 12:50] #104 closed

[2017-12-26 16:32] slaFFik commented on #103
When in "Mail 2" and its "To" field `[your-email]` is used - email is not coming.

[2017-12-26 16:38] slaFFik commented on #103
All is good.

[2017-12-26 16:38] #103 closed

[2017-12-27 15:23] slaFFik opened #106 "Update changelog and readme for 1.2.2"

[2017-12-27 15:34] #106 closed

[2017-12-29 11:26] slaFFik commented on #108
Here is a screenshot of an email that I got: http://cloud.supportally.com/oZ5Z
All is good so far.

[2017-12-29 21:59] jaredatch commented on #101
We need to be careful with this, if we decide to consider adding this.

Gravity Forms (in 2.1 or 2.2) added this functionality and enabled it by default. All HTML emails also included plain text with it. As mentioned, the idea was in theory it should improve spam score. In reality, it caused a ton of issues. Enough issues that shortly after release, they pushed an update that removed/commented out

[2017-12-31 20:48] jaredatch commented on #50
https://wordpress.org/support/topic/causes-as-many-problems-as-it-solves-2/

User claiming we "strips reply-to" - but I don't think that is correct? They didn't say what mailer they were using though, so my only guess is maybe its happening with one of the non-SMTP mailers. Wanted to make a note of it before I forgot.

[2018-01-02 09:04] slaFFik commented on #90
Related: https://wordpress.org/support/topic/cant-remove-password-form-ui-after-setting-wpms_smtp_pass-in-wp-config-php-2/

[code]

[2018-01-04 14:32] thomasfw commented on #112
I see that I just needed to define `WPMS_ON`. Is this documented?

[2018-01-04 17:26] lkraav commented on #112
@thomasfw constants are very badly documented right now. I had to grep the source to find the list and go off of that. I'm sure it'll improve soon enough as the plugin gains popularity under the @awesomemotive umbrella.

[2018-01-04 20:14] slaFFik commented on #113
@askadvertising
This is a development repository, not a support forum.

[2018-01-04 21:14] jaredatch commented on #111
EDD has a pretty solid function for checking this. Probably would be good to start with.

[code]

[2018-01-11 14:33] slaFFik commented on #116
Closing this issue in favor of #90.

[2018-01-12 10:41] slaFFik commented on #117
Thanks for the report!

Regarding Vimeo link: "Sorry, we couldn’t find that page" - so I can't see it.
Plugin already supports constants. You can see them all in `Options.php` file, in `get_const_value()` method.

This issue might be related to #90 and #100.

[2018-01-12 11:37] jonasskafte commented on #117
Hi there @slaFFik,

Thanks for looking into this and for dealing with my enquiry so thoroughly!

You should now be able to see the video – sorry, the privacy settings hadn't been saved properly. My bad!

I'm glad to hear that you have a potential solution for this and thanks for letting me know about constants – however I don't know how to make use of this myself, so I guess I'll just wait and hop

[2018-01-12 11:49] slaFFik commented on #117
Still error: "This video is private".

[2018-01-12 11:51] slaFFik commented on #117
Ok, I see now, thanks.

[2018-01-12 12:26] jonasskafte commented on #117
Thanks! I'm glad it was useful 😃

- WooCommerce is _not_ network activated, but activated on the sub-site and parent-site separately. Should I have activated it on network level?
- Yes, it is a subdomain with domain mapping – I just used the inbuilt WordPress functionality to do this and not a plugin.

[2018-01-12 12:43] slaFFik commented on #117
1. I just need to know your setup.
2. Ok, great. Thanks.

[2018-01-12 13:52] pieterbeulque commented on #117
Same setup (WooCommerce not network-activated + domain mapping) and also having trouble with emails not showing up. WooCommerce notifications, mostly.

[2018-01-12 13:58] slaFFik commented on #117
@pieterbeulque
Mailer: SMTP too?

[2018-01-12 14:15] pieterbeulque commented on #117
[code]

Copied from our `wp-config.php`.

If you want me to check anything out, let me know if I can help 🙂

[2018-01-15 08:23] jonasskafte commented on #117
Hi there @slaFFik,

Hope you've had a nice weekend.

I was just wondering if you could give us an indicator as to when approximately you expect to have version 1.3.0 of the plugin out? -just good to know, so that we can consider other solutions in the meantime.

Many thanks!

[2018-01-15 20:22] slaFFik commented on #120
Remove or disable values redeclaring in `wp-config.php` in constants like `WPMS_SMTP_PASS`.

[2018-01-16 06:51] bestony opened #123 "Can not load textdomain file in php7"
Can not load textdomain file in php7
## Plugin version
1.2.2
## Current Behavior
load english for user who use chinese
## Expected Behavior
load Chinese for user who use chinese
## Possible Solution

add load text domain code

[2018-01-16 08:48] slaFFik commented on #123
Put a generated translated file in `/wp-content/languages/plugins/wp-mail-smtp.mo`. Or better submit to https://translate.wordpress.org/projects/wp-plugins/wp-mail-smtp

[2018-01-16 08:54] slaFFik commented on #121
That's strange, but I will check this out.
Thanks for reporting!

[2018-01-16 09:07] slaFFik commented on #119
The issue is with the server `smtp.hosts.co.uk`, which doesn't accept an SSL connection in a timely manner (`Connection timed out`). There is nothing to do here in a plugin itself.

[2018-01-16 09:59] slaFFik opened #124 "Detect SELinux installed"
Same as Apache `mod_security` it can block a ton of things.

https://stackoverflow.com/questions/30271436/detecting-if-someone-has-selinux-installed-httpd-can-network-connect-enabled

`selinux_get_boolean_active`

Related WP.org thread: https://wordpress.org/support/topic/smtp-connect-failed-outlook-365/#post-9868459

[2018-01-16 19:47] napa-web-designer commented on #121
were you able to replicate?

[2018-01-16 22:47] pandymic commented on #118
Just a quick note that this appears to apply to all of the serialized data in the option value, including SMTP usernames.

Current work-around is to hard-code the exact desired values by defining them as WPMS_* constants.

- WPMS_MAIL_FROM_NAME
- WPMS_SMTP_USER
- WPMS_SMTP_PASS
- etc.

[2018-01-16 22:55] jaredatch commented on #109
If they activated but have not configured anything, we fall back to the native `wp_mail` functionality right?

[2018-01-16 23:02] blogtutor opened #125 "Password Reset Email sent via Mailgun API doesn't include links"
## Plugin version
1.2.2

## Current Behavior
When Mailgun is configured with the API, the WordPress password reset email is sent with the link stripped out.  If you view the message details in the Mailgun logs, it shows the correct email, with line breaks and the reset link. But in Gmail and iPhone Mail, the message shows up with no linebreaks and no URLs - just a row of text.  However, if you do

[2018-01-16 23:18] jaredatch commented on #101
A few thoughts, since we have gotten a few more comments on the related .org ticket.

With SG and MG we send HTML format emails. All WP core emails are in plain text. So it sounds like what is happening (this is without having tested it), when the core emails send out in SG/MG HTML, the line breaks are ignored (understandably) and the email sends out as one blob of text, un-formatted.

In the .org

[2018-01-16 23:23] jaredatch commented on #125
Related to #101.

Right now we always send emails in HTML, no exceptions.

This causes issues with some of the WP core emails, since all core emails are sent plain text.

What we'll try to do in an upcoming update is detect the type of email by inspecting the `headers` sent to `wp_mail`. If HTML, will send HTML, otherwise send as plain text. This, I believe, should resolve the issue.

[2018-01-16 23:25] jaredatch commented on #121
Related to #101 and #125. Closing this so we can continue discussion on the matter in #101.

Should fix in an upcoming release. Bottom line is WP core emails are plaintext and need to be sent out as plaintext, not HTML.

[2018-01-16 23:25] jaredatch commented on #125
Closing as we can continue discussion in #101.

[2018-01-16 23:25] #125 closed

[2018-01-16 23:26] jaredatch commented on #101
I've renamed the issue to more accurately describe the this and related issues.

[2018-01-17 00:17] blogtutor commented on #125
@jaredatch However, the email comes through just fine when sending via Mailgun/SMTP rather than Mailgun/API.  So when you say "no exceptions" are you just talking about the Mailgun API?

[2018-01-17 09:46] rlankhorst opened #126 "Multisite: emails are not processed by plugin"
## Plugin version
upgrading from 0.11.1 to 1.2.1 results in issue

## Current Behavior
After upgrading from 0.11.1 to 1.2.1 a reset password action on a subsite results in the following error message:

**The e-mail could not be sent.Possible reason: your host may have disabled the mail() function...**

We use multisite, with the variables defined in constants in the wp-config.php.

When debugging,

[2018-01-17 09:50] pandymic commented on #118
Just to further expand on this, it would appear that strings which contain sets of characters that could be interpreted as URL-encoded values are also behaving oddly.

Including any three character sequence that begins with a percent symbol (%) and is proceeded by two characters that evaluate to HEX values (a-f, 0-9) is stripped from the string when serialized and stored in the database.

For exam

[2018-01-17 10:08] pandymic commented on #118
So after some quick digging I think I've gotten to the bottom of the issue.

./src/[Options.php](https://github.com/awesomemotive/wp-mail-smtp/blob/master/src/Options.php)

Per the WordPress developer documentation, the [sanitize_text_field()](https://developer.wordpress.org/reference/functions/sanitize_text_field/) function strips octets. This would explain why the series of characters are disapp

[2018-01-17 10:22] pandymic commented on #118
I see that there's already a closed issue (#74) on the topic of sanitize_text_field() as well as a merged pull request (#77)

These appear to have been made for the 1.1.0 milestone but they're not present in the current master or develop branches.

It's 2:30am and I'm scratching my head. Am I missing something? Maybe it's time to call it a night and look at it again with fresh eyes.

Keep up the g

[2018-01-17 12:36] slaFFik commented on #109
@jaredatch
Correct.

I also suggest to disable the ability to send a Test email. Also put a longish text-description with links. So the notice can be displayed on General Settings tab only, for example. This users will stop posting to WP.org forum threads with debug output for `Mailer=mail()`.

[2018-01-17 12:54] slaFFik commented on #125
Mailgun/SMTP is using bundled `PHPMailer` class in WordPress, so all its settings, including headers for `plain/text` or `text/html` email is taken into consideration.

Mailgun/API always sends using `text/html`, regardless of the initial header, generated as `plain/text` by default WP emails (like reset email).

So we will adjust the logic to be smarter and check the corresponding header before r

[2018-01-17 12:59] slaFFik commented on #126
WP Mail SMTP plugin does not generate this error. It may be generated by other SMTP-related plugins and other plugins, like RCP (Pro) (from the recent experience).

Depends on your PHP version, you have not provided the debug output, so I can't say for sure.
If you are still using PHP 5.2 - the whole plugin will load the old version, as of 0.11.2. If you are on a newer version - you will see a new

[2018-01-17 13:43] rlankhorst commented on #126
Thanks for your response. The site runs on PHP 7, NGINX, WP 4.9

I know the error message is not from the plugin: it's a message from WordPress itself, located in wp-login.php. I posted it because the message is the result of the wp_mail() function failing, because of the update to 1.2.1.

The cause of the problem has nothing to do with email itself: the issue is that the plugin code is not execut

[2018-01-17 14:45] linkedibmi opened #127 "Enable to configure properly SMTP."
## Plugin version
1.2.2
## Current Behavior
Not able to send mails by forms

## Expected Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

Hi, I am trying to configure SMTP but something doesn't works.
I use the following parameters:

SMTP Host ssl://smtp.gmail.com
SMTP Port 465
Encryption SSL
Auto TLS ON
Authentication ON
SMTP User name and pwd about a GMAIL user

trying a test ma

[2018-01-17 15:57] linkedibmi commented on #127
I tried the same by using another mail address: admin@linkedibmi.com

Same error:

There was a problem while sending a test email. Related debugging output is shown below:

Versions:
WordPress: 4.9.2
WordPress MS: No
PHP: 7.0.27
WP Mail SMTP: 1.2.2

Params:
Mailer: smtp
Constants: No
ErrorInfo: SMTP connect() failed. https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting
Host: ssl://smtp.gmai

[2018-01-17 16:18] linkedibmi commented on #127
I solved by changing in google:

Allow less secure apps: ON

[2018-01-17 16:39] #127 closed

[2018-01-17 17:29] slaFFik commented on #126
Ok, make sense now. Thanks for the explanation! It's clear now. You may be correct in loading order issue.
We will check that.

[2018-01-18 16:43] slaFFik opened #128 "Do NOT always reset Gmail tokens after clicking Save Settings"
## Plugin version

1.2.x

## Current Behavior

Clicking save after Allow.. will reset Gmail tokens.
https://wordpress.org/support/topic/problem-while-sending-a-test-email-in-wp-mail-smtp/#post-9878319

## Expected Behavior

Gmail token should NOT be cleared in that case.

## Steps to Reproduce (for bugs)

1. Link to Gmail.
2. Click Allow and complete the process.
3. Click Save after that
4. Observ

[2018-01-18 17:08] slaFFik commented on #115
Different SMTP or mailer plugin is installed and is the reason for that mess.

[2018-01-19 01:33] robfrancken commented on #89
I also am having issues with BCC, Gmail, Gravity Forms. @slaFFik are you any closer to finding a solution?

[2018-01-19 11:05] slaFFik commented on #89
Not yet, but it's on my radar and will be definitely fixed.

[2018-01-19 12:21] #128 closed

[2018-01-19 18:13] slaFFik opened #129 "Do not rewrite options with defaults on plugin reactivation"
## Plugin version

1.x

## Current Behavior

Activating the plugin simply overwrites whatever may have already been stored in the `wp_mail_smtp` option in `wp_options`.

## Expected Behavior

Settings should be reused.

[2018-01-22 10:24] slaFFik opened #130 "Check compatibility with BackUp plugin"
## Plugin version

1.2.x

## Current Behavior

Backup plugin for WP breaks Gmail integration.

Waiting for an actual plugin name.

## Steps to Reproduce (for bugs)

1. Install the plugin
2. Connect with Gmail

[2018-01-22 10:44] slaFFik opened #131 "Changlelog and readme updates for 1.2.3"
https://github.com/awesomemotive/wp-mail-smtp/milestone/8?closed=1

[2018-01-22 10:50] #131 closed

[2018-01-22 12:53] paulkirspuu opened #132 "Multiple e-mail recipients not working with Gravity Forms notifications"
https://github.com/awesomemotive/wp-mail-smtp/blob/6c0b15e14fc634cf6b365416a2017afd0dbe886b/src/Providers/Sendgrid/Mailer.php#L105

We're having difficulties with sending Gravity Forms notifications to multiple e-mail addresses.

Currently when separated with commas, e-mail notification gets sent out for only the first recipient.

Any ideas how to solve this?

[2018-01-23 08:12] slaFFik opened #133 "Detect other SMTP-related plugin and notify users"
## Current Behavior

Users may try different plugins to fix their email deliverability. Having different SMTP plugins *activated* breaks our plugins (as well as others too). And I constantly need to write people a generic reply to deactivate all except ours before trying to test/use.

Due to the nature of the `global $phpmailer` there is no workaround here, afaik. Pretty much any other SMTP plugin

[2018-01-23 09:16] slaFFik opened #134 "Email Test: plain or html email selection to test"
## Current Behavior

Users test actually only an HTML version of email only.

## Expected Behavior

Give them ability to select what time of email do they want to test (or send both be default):
- `text/plain`
- `text/html`

## Possible Solution

1. Send either 2 emails with a but different content with different `content-type`.
2. Give them a radio selection (like Encryption or Auth on General ta

[2018-01-23 09:52] slaFFik commented on #130
It was BackWPUp but I think the issue was cause by Easy WP SMTP plugin.

[2018-01-23 09:52] #130 closed

[2018-01-30 18:08] slaFFik opened #136 "Fancy switches sometimes can't be switched off"
## Plugin version

1.2.x

## Current Behavior

Fancy switches sometimes can't be switched off. After saving the off state - it's back to on.

![image](https://user-images.githubusercontent.com/282234/35582977-19c668c4-05f9-11e8-99bb-504d0c20fc47.png)

## Expected Behavior

User should be able to switch them off.

## Possible Solution

Object caching? Options rewrite on settings save (most likely)?

[2018-01-31 11:11] slaFFik opened #137 "Gmail: Missing required parameter: client_id"
## Plugin version

1.x

## Current Behavior

There were other related reports.

## Expected Behavior

`client_id` should always be passed further to google.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

[2018-01-31 11:17] slaFFik opened #138 "Force From name/email overwrite"
Easy task.

## Plugin version

1.x

## Current Behavior

From email/name is overwritten only when they are default.

## Expected Behavior

Provide a checkbox next to text input, that will force this overwrite, always, regardless whether other plugins redefined it or not.

[2018-01-31 14:28] jonasskafte commented on #117
Hi @slaFFik,

Hope you are well.

As it seems it might be a while before 1.3.0 will be out, do you think there's any chance that this could be fixed in the meantime for a version 1.2.4?

Sorry to ask, but it's getting really critical for me to find a solution as soon as possible.

Kind regards,

[2018-02-01 11:20] slaFFik commented on #110
I think the issue is not about composer, but about autoloading. I think, I've fixed that in https://github.com/awesomemotive/wp-mail-smtp/commit/1a2e994083a57da07771f1a72ed6a000b2f40ce8

[2018-02-01 11:32] #129 closed

[2018-02-01 13:37] slaFFik opened #139 "Plugin activation default value for SMTP->autotls is set incorrectly"
It's actually not set at all properly.

Currently, it is set inside the `mail` group, while it should be in its own 'smtp` group.

[2018-02-01 13:39] #139 closed

[2018-02-01 13:45] slaFFik opened #140 "Do not autoload SMTP options"
They are needed only on mail send and in the plugin admin area.
Loading them for each WP request is an unneeded overhead.

[2018-02-01 16:07] slaFFik opened #141 "Do not load pepipost classes to save memory"
We currently load its classes, although they are not used. We should stop doing that.

Pepipost classes should be loaded ONLY when the mailer is set as pepipost.

[2018-02-01 16:09] #136 closed

[2018-02-01 16:09] #140 closed

[2018-02-01 16:09] #141 closed

[2018-02-01 16:40] slaFFik opened #142 "Provide default ports for Encryption values"
When user clicks `None`, put the port 25.
When user clicks `SSL`, put the port 465.
When user clicks `TLS`, put the port 587.

User should be able to change the port manually.

Move port option UNDER Encryption so it will more natural to edit settings (top to bottom).

[2018-02-01 16:45] slaFFik commented on #111
I now don't really have a clue how this information may help with debugging. In most cases, the debug output for SMTP shows errors that can help with that. Certificate issues are more important and not really relevant to the local or not install.

Closing this issue for now.

[2018-02-01 21:34] slaFFik opened #143 "Changelog and readme updates for 1.2.5"
- [ ] Changelog.md
- [ ] readme.txt
- [ ] Plugin version in `.php` file.

[2018-02-02 09:03] slaFFik opened #144 "Amazon SES Mailer"
It was already requested multiple times.

Currently, it can work via SMTP relay, but the process to set it up is a bit cumbersome (lots of steps).

[2018-02-02 09:22] slaFFik opened #145 "SendGrid: display email subject in its Activity dashboard"
This comment: https://github.com/foliovision/wp-mail-smtp-sendgrid-edition/commit/db7abe5fc7b8159ce584b6e973a0247ede01c420

And perhaps other commits in that repo.

## Current Behavior

All the emails sent to SendGrid doesn't containt subjecto to identify emails, that might be helpful.

## Expected Behavior

Display subject on hover over (i) icon on SendGrind Activity screen.

## Possible Solution

[2018-02-02 09:30] slaFFik commented on #118
@blogtutor

I've added stripslashes.

@pandymic

Great insights, I'm currently testing `wp_strip_all_tags( $value, true )` that also removes new lines (just in case).

[2018-02-02 10:00] slaFFik commented on #124
`selinux_is_enabled()` from http://git.php.net/?p=pecl/security/selinux.git;a=blob;f=README

[2018-02-02 10:21] #124 closed

[2018-02-02 11:16] slaFFik commented on #126
@rlankhorst

I'm using the default in WordPress "Lost Password" link on `wp-login.php` and was able to successfully send and receive an email, while using `Other SMTP` mailer in WP Mail SMTP plugin.

Can you please share more details of what and how you do, which plugins may be is use and relates to this issue.

[2018-02-02 14:30] privacyinsights commented on #126
Did you try this in a a multisite environment with the email variables set in the wpconfig.php? Theme my login is also enabled, but I had the same behaviour when resetting through the default reset.

Currently we have solved the issue be reverting to the a previous version of the plugin.

[2018-02-02 14:54] rlankhorst commented on #126
Did you try this in a a multisite environment with the email variables set in the wpconfig.php? Theme my login is also enabled, but I had the same behaviour when resetting through the default reset.

Currently we have solved the issue be reverting to the a previous version of the plugin.

[2018-02-02 14:57] slaFFik commented on #126
I will recheck that, thanks for the update. I've updated the issue title to better reflect the real reason of the issue.

[2018-02-05 09:28] slaFFik opened #146 "Return path can't be turned off"
## Plugin version

1.x

## Current Behavior

Return path can't be turned off.

## Expected Behavior

One should be able to turn it off.

[2018-02-05 10:34] slaFFik commented on #137
Idea to self: Check MS installation.

[2018-02-05 16:15] #146 closed

[2018-02-05 16:43] #143 closed

[2018-02-05 17:54] slaFFik commented on #123
@bestony
I will include in 1.2.5 the fix to properly load the translation file from plugin language directory. More details in a linked PR (which I will close for reasons that will be described there).

[2018-02-05 17:55] #123 closed

[2018-02-07 00:46] MacLemon opened #147 "1.2.5 cannot be activated due to fatal error"
## Plugin version
1.2.5

## Current Behavior
Plugin crashes when trying to activate it.

## Expected Behavior
Plugin should not crash when activated.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Download Plugin
2. Install Plugin
3. Activate Plugin
4. Crash

## Screenshots (if appropriate)

n/a

## Crash Report:
[code]

## Server System
OS: FreeBSD 11.1-p6
PHP: 7.1.14, php-fpm
Webser

[2018-02-07 13:12] slaFFik commented on #147
`filter_var()` is a default PHP function. See here: http://php.net/manual/en/function.filter-var.php
If it doesn't exist, there is a problem with your PHP build. You need PECEL Filter extension.

[2018-02-07 13:12] #147 closed

[2018-02-07 22:37] MacLemon commented on #147
Thanks for pointing me to the documentation of the filter *module*. After installing the additional module (and restarting the fpm process) the crash went away. No need to rebuild, let alone “check more options” for `make`.

Here's how to easily check if the module is present:
[code]

May I suggest to add the list of required modules to the [Documentation](https://wordpress.org/plugins/wp-mail-smt

[2018-02-08 06:52] slaFFik commented on #147
@MacLemon Your report was the first one like that. We usually add something to documentation/description after several occurrences of the issue. But I will note that for myself and will monitor similar cases.

Thanks!

[2018-02-12 23:43] slaFFik opened #148 "Gmail: switch to a wider scope"
## Plugin version

1.x

## Current Behavior

We are using gmail.mail.send scope, that might not work under certain circumstances.

## Possible Solution

Switch to `https://mail.google.com/` scope as per https://developers.google.com/gmail/imap/xoauth2-protocol#oauth_20_scopes

[2018-02-12 23:55] slaFFik opened #149 "Gmail: OAuth vs mod_security (investigate)"
## Plugin version

## Current Behavior

https://wordpress.org/support/topic/not-acceptable-mod_security-error-after-i-hit-allow/#post-9963271:

## Expected Behavior

## Possible Solution

Test using HostGator account.

[2018-02-13 02:16] jaredatch commented on #134
Sorry, I missed this. I agree, could be useful. I'd say a radio field as you mentioned, which defaults to HTML.

The difference between HTML vs plaintext is HTML we can include the WP Mail SMTP logo at the top :)

[2018-02-13 02:45] jaredatch opened #150 "Improve User Debug Experience"
I'd like to see this in 1.3.0, but given the scope of 1.3.0 already, I don't think that is practical. We will need to decide to either prioritize this or likely punt other less critical issues to 1.3.1.

## Current Behavior
- User sends a text email.
- If there are no issues, 💯.
- If there are issues:
  - Show them a error log with all this information that makes no sense to them - it's Greek.
  -

[2018-02-13 02:58] jaredatch opened #151 "Update active install count references"
700,000 ▶️ 800,000

🎉

[2018-02-13 17:47] gd-jroberts opened #152 "Incorrect mailer menu when options set via wpcli"
When wpcli is used to configure the options for wp-mail-smtp to use SMTP, the admin UI remains on PHP mail.

## Plugin version
1.2.5

## Current Behavior

When wpcli is used to configure the options for wp-mail-smtp to use SMTP, the admin UI remains on PHP mail. I have to manually select the SMTP radio button before I can see the options, and I have to first save those settings before they will pe

[2018-02-13 17:48] gd-jroberts commented on #152
Our use case:

We have development sites that use mailtrap and production sites that use PHP mail. We use ansible to configure both environments via wpcli.

[2018-02-13 19:02] gd-jroberts commented on #152
I must have the option names wrong. Can you document what the option names should be?

[2018-02-14 12:03] anitagraham opened #153 "Settings page has no authorise button"
## Plugin version
1.2.5

## Current Behavior

I have set up the Gmail/Oauth settings to the point where the doc says I need to authorize the plugin to use the gmail account.  On my screen there is nothing further on the page.

I have logged out/in to the site.  I have checked the gmail id/secret.  I can't change them anyway as there is no submit/update button on the page.

I can switch to the Test

[2018-02-14 12:36] slaFFik commented on #153
@anitagraham Thanks for the screenshot and the description, it was helpful.

Please take a look at your PHP error log and/or enable `WP_Debug`, as I'm sure there is something there related to WP Mail SMTP.
Here is a guide how to do that: http://www.wpbeginner.com/wp-tutorials/how-to-set-up-wordpress-error-logs-in-wp-config/

After doing that, please attach the zip file of that `debug.log` to this

[2018-02-14 12:39] slaFFik commented on #152
Hi @gd-jroberts

You are setting old options, that are no longer used starting from 1.x of the plugin. That's why setting them via wpcli has no effect in a new admin UI.

The best place to check the new options structure is this: https://github.com/awesomemotive/wp-mail-smtp/blob/develop/src/Options.php#L18

[2018-02-14 12:39] #152 closed

[2018-02-16 12:51] slaFFik opened #154 "Autoloader: change the $base_dir"
## Plugin version

1.x

## Current Behavior

Plugin is strictly insisting on `/wp-content/plugins/` directory, while someone seems to be using `mu-plugins` for it.

## Possible Solution

Use `__DIR__` instead of `WP_PLUGIN_DIR` in `$base_dir` in autoloader.

[2018-02-16 14:51] slaFFik opened #155 "Option to force FROM email/name settings"
## Current Behavior

Plugin overwrites FROM email/name when they are default (`WordPress` and `wordpress@`). We inherit all other settings provided by other plugins/core that fire `wp_mail()`.

## Expected Behavior

Some users expect SMTP plugin FROM email/name settings will always overwrite settings set by 3rd party plugins.

## Possible Solution

Add a new checkbox in admin area, default is off,

[2018-02-20 15:02] Hube2 opened #156 "Not working on VPS server"
## Plugin version
1.2.5 (latest on wordpress)

## Current Behavior
Does not send email from our VPS servers, cannot connect to SMTP Server

## Expected Behavior
Sends Emails

## Possible Solution
Do you have/can you provide me with some list of requirements so that I can try to figure out what's wrong on my server?

[2018-02-20 17:06] Hube2 commented on #156
I found the solution myself, for anyone else that comes across this the SMTP ports were being blocked. Like the godaddy issue listed here https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting

[2018-02-20 17:06] #156 closed

[2018-02-21 07:43] slaFFik opened #157 "Yahoo Mailer"
## Current Behavior

We can use only SMTP to send via Yahoo!.
But we have lots of users using it for their primary emails.

## Expected Behavior

Yahoo has oAuth 2.0, so we can integrate better.

[2018-02-21 21:56] jaredatch opened #158 "Saving settings show display admin notice to confirm"
## Plugin version
1.2.5

## Current Behavior
After saving settings the page reloads, and that's it.

## Expected Behavior
After saving settings, there should be some sort of admin notice that says "Settings successfully saved." or similar.

[2018-02-22 08:46] slaFFik commented on #158
@jaredatch
I can't replicate.

![image](https://user-images.githubusercontent.com/282234/36528412-ab0afe3c-17bd-11e8-9e2f-6ef8b882925d.png)

[2018-02-22 09:17] slaFFik commented on #153
@anitagraham, any update on this issue?

[2018-02-22 09:19] slaFFik commented on #132
@paulkirspuu
Which mailer are you using? Where those comma separated emails were added? Is it possible to get a form export that has this issue?

[2018-02-22 09:31] slaFFik opened #159 "Load $phpmailer rewrite the last one to preserve own settings from conflicts"
## Plugin version

1.x

## Current Behavior

If several SMTP plugins are activated, WP Mail SMTP is loaded one of the latest (because WP loads plugins in alpha order).
Some plugins reconfigure `$phpmailer` object later, that contradicts with WP Mail SMTP.

## Expected Behavior

WP Mail SMTP `Other SMTP` settings should be the last possible overwrite, so we will dominate.

## Possible Solution

We

[2018-02-22 10:08] lkraav commented on #132
@slaFFik I work with @paulkirspuu. We are using the standard SMTP mailer. We'll look to set up a staging reproduction environment for this, but it may still take a while due to other client commitments.

In the meanwhile, perhaps we could ping-pong some discussion ideas to try to move this forward. For example, are there test cases that check multiple addresses for `To` header and do they currentl

[2018-02-22 15:03] jaredatch commented on #158
@slaFFik weird. It was happening to user that has been assigned to you in HS.

[2018-02-27 16:59] slaFFik commented on #138
Found a duplicate #155. Lets use it.

[2018-02-27 16:59] #138 closed

[2018-02-27 17:02] slaFFik opened #160 "Gmail: FROM is ignored when !== /me/ from API"
## Plugin version

1.x

## Current Behavior

Setup FROM as from@domain.com.
Get the API key using the GMail for admin@example.com and set up Gmail mailer.
Send a test email.

From header in a sent email is `admin@example.com`.

## Expected Behavior

From header in a sent email should be === `from@domain.com`.

[2018-03-01 16:59] dnunes opened #161 ""Invalid token" MailGun error message is really cryptic."
## Plugin version
Current.

## Current Behavior
When you use a wrong MailGun API Key, the only information that comes out is "debug: forbidden".

## Expected Behavior
I would expect a descriptive error message. Only showing "Forbidden" does not reveal any kind of real debug information, specially for someone that is new to the plugin and doesn't know the inner workings of it (many programmers woul

[2018-03-02 10:23] slaFFik opened #162 "Gmail: add trim() for client id/secret"
## Plugin version

1.x

## Current Behavior

People are copying data with spaces.

## Expected Behavior

No spaces before/after.

## Possible Solution

Use `trim()` on save.

[2018-03-04 01:03] eberswine commented on #101
Any updates on this? I am currently using the API for mailgun. I am only allowed to use port 2525 for my server, so I can't fix this by using the SMTP method.
ANy other way to get around ?

[2018-03-05 16:30] jaredatch commented on #101
Right now we're shooting for 1.3.0 in early April.

[2018-03-08 17:32] gd-jroberts commented on #152
Is it still possible to get at those values using `wp option update` now that they are serialized?

Seems that I'd now need to export them into a json object, sed the value I want to change, and then feed the modified json back into the option.

I manage over 400 websites for a digital agency. While I can do it that way, I much prefer having the ability to directly change an option with `wp option

[2018-03-08 17:43] gd-jroberts commented on #152
I came up with this which seems to do what I need:

[code]

[2018-03-11 06:11] tttkhs commented on #153
I also encountered quite similar issue. I know current setting of wp mail SMTP is wrong but I can't change the setting due to same behavior ( there is no submit/update button on the page).

version of WP Mail SMTP: 1.2.5

====Debug log
[11-Mar-2018 06:06:43 UTC] PHP Fatal error:  Uncaught InvalidArgumentException: Redirec
t URI must be absolute in /opt/bitnami/apps/wordpress/htdocs/wp-content/plug

[2018-03-14 07:53] niklaspoulsen opened #163 "SMTP connect() failed. after update"
## Plugin version
Version 1.2.5
## Current Behavior

## Expected Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

I have testet both SSL, TSL and NONE, also with Autentchion - nothing work.
Before update it was working...

After update the plugin, we now get an SMTP error. See screenshots for the error

## Screenshots (if appropriate)

<img width="1421" alt="skaermbillede 2018-03-

[2018-03-24 07:35] gunbotmarket opened #164 "SMTP connect() failure for gmail and outlook"
## Plugin version
recent version

## Current Behavior
SMTP connect() failure for gmail and outlook, with both ssl and tsl connections
I discovered the failure is due to failing to verify the certificate when making the connection

## Possible Solution
As of PHP 5.6 you will get a warning/error if the SSL certificate on the server is not properly configured.

Gmail and Outlook use self signed certs

[2018-03-25 19:45] slaFFik commented on #163
@niklaspoulsen
Which version were you updating from?
Have you tried SSL with both AutoTLS `on` and `off`?

[2018-03-25 19:45] slaFFik commented on #163
@niklaspoulsen
Which version were you updating from?
Have you tried SSL with both AutoTLS `on` and `off`?

[2018-03-28 22:16] adamriggs commented on #82
bb pls

[2018-03-31 02:13] pentatonicfunk opened #165 "WPMS_SENDGRID_API_KEY on wp-config.php being ignored"
After installed the plugin, i tried to add wpms constant on `wp-config.php` other constant being correctly read but `WPMS_SENDGRID_API_KEY` being ignored as its not displayed on `options-general.php?page=wp-mail-smtp&tab=settings`

## Plugin version
1.2.5

## Current Behavior
- Add wpms constant on `wp-config.php`
[code]
- Open WP Mail SMTP settings page `options-general.php?page=wp-mail-smtp&tab=

[2018-04-02 20:15] Source3Media opened #167 "Fatal Error: Call to undefined method setClassMapAuthoritative() in autoload_real.php"
Im trying to send test emails and this error popped up immediately.

I'm using WP Mail SMTP 1.2.5

## Current Behavior
As soon as I attempt to send a test email of any type, it automatically redirects me to an error page containing the following error:

[code]
When I first installed the plugin, there weren't any issues.

## Expected Behavior
My expectation is that the form would use my gmail(per m

[2018-04-02 20:43] slaFFik commented on #167
@Source3Media
You were able to install the plugin and configure it, correct? Which mailer have you selected? How have you installed the plugin on a server?

[2018-04-03 12:11] Source3Media commented on #167
@slaFFik
Yes, I was able to install and configure the plugin, all of which is set up to a GMail account and then just recently, it started to throw that error. I installed it directly through Wordpress Plugins Area onto my shared/reseller hosting on siteground.

[2018-04-03 13:49] slaFFik commented on #167
@Source3Media
Thanks for answers. So, basically, it worked for some time just ok, and recently broke, correct?
Have you made any changes (like, moving the site elsewhere, activated/reactivated some other plugins)?
Did Siteground notify you recently about server migrations or some server-related problems?
Was the PHP version on your site changed recently? Can you check it in Siteground cPanel for y

[2018-04-03 14:26] Source3Media commented on #167
@slaFFik As far as I am aware(I haven't gotten any notifications nor have I seen anything), there haven't been any changes to the server, I updated Wordpress about a month or so ago, but that didn't initially have any effect on the site.

[2018-04-03 14:29] slaFFik commented on #167
Can you check it in Siteground cPanel for your this particular site the version of your PHP installed on a server?
Have you made any other changes - activated/deactivated some plugins etc?

[2018-04-03 15:01] slaFFik commented on #167
You can try, but 5.6 is sufficient.
7.2.3 may break something somewhere on your site, so do it with caution and be ready to rollback.
What about plugins? Are there any plugins that use Google API?

[2018-04-03 15:04] Source3Media commented on #167
@slaFFik Yes, I have Google Analytics by Monster Insights installed on the site as well

[2018-04-03 15:16] slaFFik commented on #167
This plugin is not the issue, that's for sure. Could you please share a list of active plugins here?

[2018-04-03 16:11] Source3Media commented on #167
The active/installed plugins are as below
Advanced Custom Fields
All in One SEO
Broadcast
Content Timeline
Custom Post Type UI
Display Post Shortcodes
Font Resizer
Formidable Forms
Formidable Forms Pro
Formidable PayPal Standard
Formidable to Mailchimp
Google Analytics for Wordpress by Monster Insights
Jetpack
Limit Login Attempts
Media Library Categories
MomentoPress
Page Links to
Recent Posts Wi

[2018-04-03 16:12] Source3Media commented on #167
@slaFFik I accidently tapped close

[2018-04-04 20:04] naaz27 opened #168 "tried to send a test email to SMTP other that i set up"
There was a problem while sending a test email. Related debugging output is shown below:

Versions:
WordPress: 4.9.5
WordPress MS: No
PHP: 7.0.22
WP Mail SMTP: 1.2.5

Params:
Mailer: smtp
Constants: No
ErrorInfo: SMTP connect() failed. https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting
Host: secure242.inmotionhosting.com
Port: 465
SMTPSecure: ssl
SMTPAutoTLS: bool(false)
SMTPAuth: bool(tr

[2018-04-05 13:32] slaFFik commented on #168
Please use a support forum to get support. Github is used for bugs/feature requests only.

PS Double check your user/password pair.

[2018-04-05 13:32] #168 closed

[2018-04-08 22:50] napa-web-designer commented on #121
When do you think this will be resolved. It is kind of a crucial issue.

[2018-04-13 10:32] slaFFik commented on #167
@Source3Media

So you can confirm, that when ALL plugins are deactivated except WP Mail SMTP - you still get this error? What about changing the theme back to some default, like 2015 (`twentyfifteen`)?

[2018-04-13 12:04] Source3Media commented on #167
@slaFFik  I went as far back as I could without changing the appearance of my clients website, the error still showed up.

[2018-04-16 10:30] slaFFik commented on #101
From https://wordpress.org/support/topic/conflict-with-contact-form7-after-updating/#post-10179927:

— if uncheck the “Use HTML content type” box, emails are sent OK as plain text, but end-of-lines are eaten (the message is sent in one paragraph);
— if “Use HTML content type” box is checked, I get “There was am error trying to send your message. Please try again later” error.

— if uncheck the “Us

[2018-04-19 12:53] lkraav opened #169 "Failsafe: use a job queue, like Action Scheduler"
For whatever reason, an e-mail delivery may fail due to a non-responsive API endpoint, SMTP server down, or whatnot.

We could probably use something like https://github.com/Prospress/action-scheduler to keep retrying until successfully sent.

Especially in lead generation, it is critical that potential client form fill notification e-mails do not get lost.

Your thoughts?

[2018-04-20 20:21] SLPWebber2018 opened #170 "Contact Form not sending to Office 365 email account when using SMTP plugin"
I am using the Lead Form Wordpr3ess plugin and have activated your plugin to enable the form to send email notifications when end user completes a form.

## Current Behavior
Versions:
WordPress: 4.9.5
WordPress MS: No
PHP: 7.1.14
WP Mail SMTP: 1.2.5

Params:
Mailer: smtp
Constants: No
ErrorInfo: SMTP connect() failed. https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting
Host: smtp.office365

[2018-04-21 23:43] nielsranosch commented on #149
mod_security will block any request if it contains an external URL as parameter. A simple workaround would be to not include the http[s]-part.

From my server's log:
`[client ...] ModSecurity: [file ".../50_plesk_basic_asl_rules.conf"] [...] [msg "Protected by Atomicorp.com Basic Non-Realtime WAF Rules: Remote File Injection attempt in ARGS"] [severity "CRITICAL"] Access denied with code 403 (phas

[2018-04-22 07:01] slaFFik commented on #149
That's what is returned from Google. It won't be safe to ignore this part of the URL.
It's better to configure mod_security rules to correctly handle requests from Google.

[2018-04-22 08:07] koushal20 opened #172 "Issue while sending testing email"
There was a problem while sending a test email. Related debugging output is shown below:

Versions:
WordPress: 4.9.5
WordPress MS: No
PHP: 5.6.31
WP Mail SMTP: 1.2.5

Params:
Mailer: smtp
Constants: No
ErrorInfo: SMTP connect() failed. https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting
Host: smtp.gmail.com
Port: 587
SMTPSecure: tls
SMTPAutoTLS: bool(true)
SMTPAuth: bool(true)

Server:
Ope

[2018-04-22 08:35] slaFFik commented on #172
This is a server or settings configuration error, thus nothing to do in a plugin itself. So I'm closing this issue.

[2018-04-22 08:35] #172 closed

[2018-04-22 08:36] slaFFik commented on #172
@koushal20
Use the link https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting to read about possible reasons and how to fix that.

[2018-04-22 13:28] #170 closed

[2018-04-26 03:34] fagiani commented on #154
@slaFFik I was able to use it as a `mu-plugin` by changing from `WP_PLUGIN_DIR` to `plugin_dir_path(__DIR__)` on `$base_dir` and for that I've proposed a pull-request #173

I hope that may become useful to others.

[2018-04-28 17:59] ven007 opened #174 "wp mail smtp not working"
I’m trying to use this plguin from a week and i tried everything , contacting my hosting provider and changing various settings , but nothing seems to work

whatever settings i put i get this same debug message . Can anyone please help

Versions:
WordPress: 4.9.5
WordPress MS: No
PHP: 7.0.29
WP Mail SMTP: 1.2.5

Params:
Mailer: smtp
Constants: No
ErrorInfo:
Host: localhost
Port: 25
SMTPSecure: str

[2018-04-29 11:46] slaFFik commented on #174
Deactivate all other SMTP related plugins (or email delivery). They are conflicting with WP Mail SMTP.
After their deactivation our WP Mail SMTP will start receiving correct options.

[2018-04-29 11:46] #174 closed

[2018-04-29 17:49] ven007 commented on #174
i disabled all the plugins , now i'm getting this error

Versions:
WordPress: 4.9.5
WordPress MS: No
PHP: 7.0.29
WP Mail SMTP: 1.2.5

Params:
Mailer: smtp
Constants: No
ErrorInfo: Invalid address: (punyEncode) SMTP_FROM
Host: mail.custominkandthread.com
Port: 465
SMTPSecure: ssl
SMTPAutoTLS: bool(false)
SMTPAuth: bool(true)

Server:
OpenSSL: Yes
SMTP Debug:
2018-04-29 17:48:58	Invalid address: (pu

[2018-04-29 18:57] slaFFik commented on #174
Your FROM email is not supported (or incorrect). Please read the `ErrorInfo` and `SMTP Debug` sections in those error messages, they are there for a reason.

[2018-04-29 19:07] ven007 commented on #174
I know , but my from email is correct and I also changed it different
others but I still get the same error no matter what email id I put

On Sun, Apr 29, 2018 at 11:57 AM Slava Abakumov <notifications@github.com>
wrote:

[2018-05-04 09:46] slaFFik commented on #137
This issue is caused by #82.
Thus, I'm closing the current in favor of 82.

[2018-05-04 09:46] #137 closed

[2018-05-04 09:47] slaFFik commented on #82
This conflict results in #137.

Perhaps, notify these people:
https://wordpress.org/support/topic/plugin-not-working-599/
https://wordpress.org/support/topic/nginx-eror-400-oauth2-error/
https://wordpress.org/support/topic/missing-client_id-2/
https://wordpress.org/support/topic/error-when-authorizing-plugin-from-settings-page/

[2018-05-04 11:26] slaFFik commented on #117
Closing this in favor of #100.

[2018-05-04 11:27] slaFFik commented on #126
Closing this in favor of #100.

[2018-05-04 11:27] #126 closed

[2018-05-04 11:31] slaFFik commented on #151
This includes banner and marketing text in `readme.txt`

[2018-05-04 11:39] slaFFik commented on #169
Most often all sent emails are transactional. In this case, there is not really a big win for a majority of plugin users to have a queue. The problem is that it will still be unreliable, as fails may be silent - thus our code will think everything is ok, while it's not (that's especially valid for smtp).
Gmail/MG/SG provide some infomation, and they can be caught and post process, but the efforts

[2018-05-04 11:42] slaFFik commented on #163
It's more a support request, which should be handled [here](https://wordpress.org/support/plugin/wp-mail-smtp).

[2018-05-04 11:42] #163 closed

[2018-05-04 11:42] slaFFik commented on #164
It's more a support request, which should be handled [here](https://wordpress.org/support/plugin/wp-mail-smtp).

[2018-05-04 11:42] #164 closed

[2018-05-04 11:43] slaFFik commented on #164
@gunbotmarket
As discussed lots of times on a forum (see message above), we won't add an option, that will weaken security of emails deliverability. You can use this hack instead: https://gist.github.com/slaFFik/c1d7d4249f47da7195fb973109952090

[2018-05-04 11:46] slaFFik commented on #161
That's the only information that is provided by a Mailgun API when you use incorrect API key. There is nothing I can do here.

The whole `Debug` section is always a response from another API, and as you already know which mailer are you using - I don't think anything more specific should be added here.

Although there is an initiative #75, that might (or not) help with SG/MG/Gmail debug messages.

[2018-05-04 11:46] #161 closed

[2018-05-04 11:49] slaFFik commented on #167
Might be related to #82

[2018-05-04 11:55] slaFFik commented on #90
Soon, I will play with this issue, if it relates to #100, then most likely it will be punted.
Otherwise, I think, it will be fixed in 1.3.0.

[2018-05-04 12:02] slaFFik commented on #149
This task requires more investigation.

[2018-05-04 12:16] slaFFik commented on #153
Closing an initial issue by @anitagraham, because of the lack of communication.

@tttkhs, that's the issue with the install.
From the source code:
[code]
So you need to investigate, what is the generate redirect URI, that's your local site URI.

[2018-05-04 12:16] #153 closed

[2018-05-04 14:34] jonasskafte commented on #117
Hi there @slaFFik

Thanks again for looking into this.

I was wondering – now that you've 'closed' this issue (or spread it into other issues) are you still planning to fix the problem? I am thinking – in issue #100 ('Better Multisite Support') the focus seems to be on making the plugin better generally for multisite installations (add more features), however, I think there's a more urgent matter,

[2018-05-04 18:42] roselandoil opened #175 "I followed all directions to install plug in twice. when i try to authorize plugin with google I get an error message that says missing client_id. I have put the client id in there. deleted the api and create a new one for the second time and still get same error message."
## Plugin version

## Current Behavior

## Expected Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Screenshots (if appropriate)

![image](https://user-images.githubusercontent.com/38989675/39646418-010a68f2-4fa1-11e8-833c-2500847ff333.png)

[2018-05-05 07:34] slaFFik commented on #175
It's either #82 or you have not saved a correct client ID.

[2018-05-05 07:34] #175 closed

[2018-05-08 14:38] jessquig opened #176 "Adding 2FA might pull authorization for Google mailer option"
**Lite ticket:** https://wordpress.org/support/topic/two-factor-authentication-6/

## Plugin version
Unknown

## Current Behavior

The user set up WP Mail SMTP's Google mailer option, and it was working fine (according to them). Then they added 2 factor authentication to their Gmail, and their email stopped working.

## Expected Behavior

Even if 2FA authentication is added, wouldn't expect this t

[2018-05-15 20:11] jaredatch commented on #150
We're going to make this a priority in 1.3.0 after further discussion about the issue.

Copying @syedbalkhi because he's going to be assisting in a few areas regarding the design and flow of this feature.

[2018-05-17 14:27] syedbalkhi commented on #150
These are very good suggestions - let me work on some mockups for what the error screen / upsell would look like :)

[2018-05-18 15:37] GLAJL commented on #101
Hello @jaredatch,
Do you know when 1.3.0 will now be released as we have a large number of sites with this issue?
Thanks

[2018-05-18 20:27] syedbalkhi commented on #150
Here's the link to the PSD:

https://drive.google.com/open?id=1fp38J4PHkNJ5XlDFQ1-mBVHHDaGhGfRj

We'll show the above if we can detect the error code.

If we don’t know what the error is, then we will move the debug log to the top and Need Support below that.

[2018-05-18 20:34] syedbalkhi opened #177 "To be deleted"

[2018-05-18 21:06] #177 closed

[2018-05-24 02:01] RickBross commented on #149
@awesomemotive

[2018-05-24 02:13] chriscct7 commented on #149
If and when we have something to report it will be noted on this issue. While each issue is important to us, we have a limited number of developers so their efforts rotate between our various products in order to service our users most effectively. The Atomicorp rules above are custom and not part of the standard mod_security rules. They are also not written properly to block the actual attempt th

[2018-05-26 09:07] Babelfisch opened #178 "Call to undefined method Google_Client::fetchAccessTokenWithAuthCode()"
After activating Gmail (with manual adding the missing client_id in the URL), WP Mail SMTP completely crashes! The settings page shows not all parts and especially the `Save Settings` button is missing.

**So it’s not possible to change back the settings!**

This is the error message in `error.log`:

```PHP message: PHP Fatal error:  Uncaught Error: Call to undefined method Google_Client::fetchAcc

[2018-05-26 21:15] Mr-Vlcina opened #179 "functions.php error on line 107"
Hello.

When i login to my account, or edit user or want to reset password appears this message: [link to images.](https://imgur.com/a/rCWN9nY) Then I have to reload page and everything works.

1.2.5 Plugin version

[2018-06-01 07:57] tuenweb opened #181 "Will not let me send by any method"
Good morning, after configuring everything I receive this error, any ideas? :(

Versions:
WordPress: 4.9.6
WordPress MS: No
PHP: 7.0.30
WP Mail SMTP: 1.2.5

Params:
Mailer: gmail
Constants: No
Client ID/Secret: Yes
Auth Code: Yes
Access Token: Yes

Server:
OpenSSL: Yes
PHP.allow_url_fopen: Yes
PHP.stream_socket_client(): Yes
PHP.fsockopen(): Yes
PHP.curl_version(): Yes
Apache.mod_security: No

[2018-06-02 17:14] mlourdesal commented on #160
HI, can you resolved this issue? its drive me crazy :S

[2018-06-04 15:19] slaFFik commented on #181
Hi @tuenweb
This is a development repository, not a support forum. Please read the [forum history](https://wordpress.org/support/plugin/wp-mail-smtp), most likely similar questions were already answered, multiple times.
As you cut out part of the Debug output, I can't help you. You seem to have access token saved, try to clean the site object cache if you have it.

[2018-06-04 15:19] #181 closed

[2018-06-06 06:41] jonasskafte opened #1 "Did we just lose all issues/bug reports etc?"
Hi there,

Hope you are well!

Did we just lose all issues submitted or have you just started afresh here on GitHub and kept the bug reports elsewhere?

Just asking because if we've lost all the issues then I'll re-add mine.

Cheers!

[2018-06-06 10:26] slaFFik commented on #1
Hi @jonasskafte

No, we haven't lost anything, we decided to use this repo for publicly submitted issues and for hosting the release-ready versions of the WP Mail SMTP plugin.
All issues are safe and will be processed accordingly.

I see your report about WC emails on a Multisite install, so nothing for you to worry about.

[2018-06-06 10:26] #1 closed, assigned to nobody

[2018-06-07 06:17] ventouris opened #2 "Comma separated list of emails & wp_mail() - not all emails are sent"
## Plugin version
1.2.5

## Current Behavior
I installed and setup the plugin a while ago. Everything works great. New users, new orders and any kind of email notification are sent from the custom SMTP I used.

However, I had to use the built-in function wp_mail() for a custom event notification and the sender is as “noreply@testmail.com”. So, the mail fails to reach the destination.

[code]

## E

[2018-06-07 17:23] slaFFik commented on #2
It might be related to a comma separated list of emails. Some other people reported that as well, I'm investigating, and if the issue is confirmed - it will be fixed in the next 1.3.0 release.

[2018-06-12 17:25] Webtica opened #3 "Mailgun - Mail formatting breaks to one line."
## Plugin version
1.2.5
## Current Behavior
When sending mail with Mailgun everything gets broken to one line and loses formatting.

## Expected Behavior
Send correctly

## Steps to Reproduce (for bugs)
1. Setup Mailgun
2. Send mail via any plugin.

## Screenshots (if appropriate)

[2018-06-12 21:27] slaFFik commented on #3
Hi @Webtica,

Thanks for reporting this issue! It's a known one, so I'm closing as a duplicate of our internal issue.
This will be fixed in the upcoming 1.3.

[2018-06-12 21:27] #3 closed, assigned to nobody

[2018-06-13 18:59] mubeeniqbal811 opened #4 "Issue in sending email through "Other SMTP" Option"
Please view the screenshot error message that is appearing after sending email through  "Email Test" tab

## Plugin version
 WP Mail SMTP   Version 1.2.5

![smpt](https://user-images.githubusercontent.com/40246998/41372103-2936c22e-6f01-11e8-802f-1f45d0c6713d.PNG)

[2018-06-13 20:41] slaFFik commented on #4
This information should be provided into the support forum, and not in a development repository, as this is a configuration (site or server) error and not a plugin issue.

[2018-06-13 20:41] #4 closed, assigned to nobody

[2018-06-13 23:35] tychovbh opened #5 "Sendgrid error: text/plain needs to be first, followed by text/html"
I use this plugin in combination with Contact Form 7 to send a HTML email via SendGrid, but the email didn't send. After debugging a lot of code i came to the following error on this line https://github.com/awesomemotive/WP-Mail-SMTP/blob/master/src/MailCatcher.php#L70 the mailer object contains in body -> response -> errors the following error:

So i did some further investigation and I found out

[2018-06-13 23:46] tychovbh commented on #5
I created a pull request: https://github.com/awesomemotive/WP-Mail-SMTP/pull/6

[2018-06-14 16:48] slaFFik commented on #5
Awesome! Thank you for your time, I will use the patch from your request to fix that in the next release.
[6.zip](https://github.com/awesomemotive/WP-Mail-SMTP/files/2103255/6.zip)

[2018-06-15 20:26] rtvenge opened #7 "SendGrid sending plain text email as html"
While using the SendGrid Mailer, plain text emails (in my case, password reset emails) are being rendered as html emails, stripping out the reset link and the line breaks.

## Plugin version

1.2.5

## Current Behavior

`text/plain` emails are being sent as `text/html`.

## Expected Behavior
These emails should be sent as `text/plain`.

## Possible Solution

After looking at the `$this->set_conten

[2018-06-15 20:38] slaFFik commented on #7
Thank you for posting this!

This is a known issue and will be fixed in the upcoming WP Mail SMTP 1.3.

[2018-06-15 21:06] rtvenge commented on #8
Closing as this is a known issue.

[2018-06-17 17:28] buggles333 opened #9 "Conflict with Monsterinsights plugin"
Following on from this question from the WP support forum - https://wordpress.org/support/topic/conflict-with-analytics-plugin-and-api/

Do you have a date for 1.3.0 release, or a fix in the meantime?

[2018-06-20 08:59] slaFFik commented on #10
@devo1929
You are correct, thank you for pointing to this! This will be improved in the 1.3.0 release.
Same for SendGrid.

[2018-06-20 09:44] slaFFik commented on #5
The fix is applied, so it will be in WP Mail SMTP 1.3.0.

Thank you for your contribution!

[2018-06-20 09:44] #5 closed, assigned to slaFFik

[2018-06-20 09:49] slaFFik commented on #8
I'm changing the strategy how I work with this repository. Your PR will be updated to reflect required changes and will be merged, so all the props on your GitHub profile page are handled correctly :).

[2018-06-20 09:54] slaFFik commented on #7
Fixed in #8.

Thank you for your contribution! This fix will be part of WP Mail SMTP 1.3.0.

[2018-06-20 09:54] #7 closed, assigned to slaFFik

[2018-06-20 15:58] tychovbh commented on #5
Great news! Thanks to you too!

[2018-06-21 13:01] slaFFik commented on #2
CF7 has the same issue, WPForms does not.
Reason: CF7 sends to multiple emails using one `wp_email()` call (I think the same for GF), while WPForms calls `wp_mail()` the number of emails it can identify.
These multiple values in a single TO property then headed to `wp_mail()` -> `phpmailer` -> `->send()` -> `->smtpSend()` -> `smtp->recipient()` and all responses are truthy there during my tests. S

[2018-06-21 13:01] #2 closed, assigned to slaFFik

[2018-06-21 17:42] slaFFik commented on #9
There is no conflict with MI, as MI doesn't include Google library at all. And I was unable to replicate the issue with GADWP.

Although `Simple GA Ranking` definitely breaks the WP Mail SMTP. I will see what can be done easily, but because that plugin has a small user base I won't make plugin-specific tweaks and will try to appy a general fix that should fit every other plugin. It's already in th

[2018-06-21 17:42] #9 closed, assigned to nobody

[2018-06-27 11:42] cyph3rgr opened #11 "Cannot send mail | Gmail account | token decode - json error"
Hello,

I face a problem with WPMail SMTP and Google Analytics Pro plugin.
When Analytics plugin is enabled, no mails are sent. After deactivating Analytics plugin everything works as expected. No errors and mails are sent normally.

I found out [here ](https://wordpress.org/support/topic/error-when-authorizing-plugin-from-settings-page/page/2/#post-10432071)that you already know of the bug and is

[2018-06-27 14:44] jaredatch commented on #11
This should be resolved in our next update (1.3) which hopefully is going out tomorrow 😎

[2018-06-27 14:44] #11 closed, assigned to nobody

[2018-06-28 07:02] cyph3rgr commented on #11
Thank you for your reply Mr. Jared. Hopefully everything will work normally again!

[2018-06-29 06:56] jonasskafte commented on #1
Hi there @slaFFik (CC: @jaredatch)

Hope you are both well and thanks for your latest update to 1.3.0!

I've read the changelog for the update, but I couldn't immediately see anything about this issue – could you possibly confirm whether or not we can expect a fix to this in this version, or if we should hold on with reactivating the plugin (I've got it deactivated until it works on multisite inst

[2018-06-29 07:10] corelanc0d3r opened #12 "Latest update is broken on PHP 5.3.2"
## Plugin version

## Current Behavior
PHP errors, wordpress site not loading
[Fri Jun 29 08:57:03 2018] [error] [client A.B.C.D] PHP Parse error:  syntax error, unexpected '[' in /web/wp-content/plugins/wp-mail-smtp/vendor/guzzlehttp/psr7/src/functions.php on line 78

[2018-06-29 07:20] slaFFik commented on #1
Hi,

We haven't done anything specifically for WC or MultiSite.
But we did big improvements in 1.3.0, so you can test that.

[2018-06-29 07:43] simonsutcliffe opened #13 "Error never disappears"
## Plugin version
1.3.0

## Current Behavior
There appears to have been a moment when the plugin could not send mail to the SMTP server.  I have checked the settings and ran a test,  Both are OK.  I received the message as expected.

## Expected Behavior
After doing a successful test I would expect the message to disappear.

## Screenshots (if appropriate)

![2018-06-29 08_41_46-wp mail smtp optio

[2018-06-29 09:11] slaFFik commented on #12
Thanks for report, @corelanc0d3r
Working on it, will be fixed in 1.3.1 due today.

[2018-06-29 09:11] #12 closed, assigned to nobody

[2018-06-29 09:12] slaFFik commented on #12
But please, upgrade your PHP version :)

https://wordpress.org/support/topic/new-error-with-todays-update/#post-10446331

[2018-06-29 09:13] slaFFik commented on #13
Thanks for the report.

Working on it, if confirmed - should be fixed in 1.3.1 due today.

[2018-06-29 09:13] #13 closed, assigned to nobody

[2018-06-29 22:41] hemiipatu opened #14 "Causes HTML ERROR 500"
## Plugin version

1.3.2

## Current Behavior
After sometime, WP-Mail-SMTP seems to cause a website wide HTML ERROR 500. I came to the conclusion that it was indeed WP-Mail-SMTP causing this as renaming the folder for the plugin from the backend _(SSH)_ and refreshing the webpage of the site fixed it.

## Expected Behavior
Not to have a HTML ERROR 500

## Possible Solution
I am unsure on how this

[2018-06-30 12:39] slaFFik commented on #14
@hemiipatu
Could you please post here the error_log records right after seeing this white screen?
We are aware of one possible compatibility issue when some other plugin is using a really outdated version of Google libraries (we are using the latest version).

[2018-07-02 20:03] setxnow opened #15 "after verification 404 error"
after verification 404 error

 Version 1.3.2
 Randomly lost authentication on 2 sites ... one i got back this one wont redirect to success page instead giving a 404 error and failing to authenticate

[2018-07-03 07:27] slaFFik commented on #15
This error most commonly occurs when the server is blocking requests needed to run SMTP when using Gmail mailer.
To fix, you’ll need to contact your site’s hosting provider and ask them to disable specific rules within `mod_security` apache module, which they would determine using server logs.

[2018-07-03 07:27] #15 closed, assigned to nobody

[2018-07-03 14:57] jonasskafte commented on #1
Hi there @slaFFik,

Thanks for responding to this!

I've done some tests now and unfortunately the problem persists also after updating to 1.3.0.

I'm wondering if you could possibly re-add the original issue I had posted about this, so that I won't have to add it again? Do you still have access to the issues that have been removed somewhere? I'm thinking that since it still a problem and since it

[2018-07-03 17:32] setxnow commented on #15
i am the host lol so what do i need to change?

[2018-07-03 17:43] slaFFik commented on #15
I actually wrote what to do :)
1) check server logs about mod_security activity
2) find there a rule that was applied and blocked access to a site with `&scope=https://` in its url
3) modify/disable this rule to finish the auth process.

This auth request is needed to be done only once, so the mod_security rule can be enabled after that.

[2018-07-03 17:44] slaFFik commented on #1
No need to duplicate issues, we still have everything, just in another repo. The current plan to have this fixed in 1.4.0, no ETA though.

[2018-07-04 11:03] slaFFik commented on #14
Should be fixed (I hope, as you didn't provide any details) in WP Mail SMTP 1.3.3, that will be released shortly.
Please reopen if the error is still there after the upgrade.

[2018-07-04 11:03] #14 closed, assigned to nobody

[2018-07-04 13:07] setxnow commented on #15
ok thanks .. i get to learn how to read server logs now lol been putting it off anyways

[2018-07-05 08:21] jonasskafte commented on #1
Hi @slaFFik,

Thanks for the update. In that case, I think I'll look at using another SMTP plugin as it's crucial to us that this part of the plugin is working correctly – and we need it working as soon as possible as we were hoping that it would have been fixed in 1.3.0. We cannot wait any longer I'm afraid. I am aware that this is a free plugin and so we cannot expect anything, really, which is

[2018-07-05 09:59] slaFFik commented on #1
Thank you and good luck to you too!

[2018-07-10 18:25] ryanboswell opened #17 "PHPMailer SMTPAutoTLS option not disabled when using constants"
## Plugin version
1.3.3

## Current Behavior
When using the supported constants to pre-define the plugin config, the PHPMailer `SMTPAutoTLS` option is not overridden from the default of `true`, regardless of what the `WPMS_SSL` constant value is. This means that when we're disabling SSL in the plugin via constants PHPMailer still tries to force TLS if it thinks it can use it.

However, when using

[2018-07-10 19:28] slaFFik commented on #17
You should be using `WPMS_SMTP_AUTOTLS` constant to turn on/off `SMTPAutoTLS`.
`WPMS_SSL` only changes the `Encryption`.

Here is the exact place in code: https://github.com/awesomemotive/WP-Mail-SMTP/blob/master/src/Options.php#L335

[2018-07-10 19:28] #17 closed, assigned to nobody

[2018-07-25 13:21] cycomarcooo opened #18 "Configuration made with defined constants are not working as expected"
## Plugin version
1.3.3

## Current Behavior

In my local environment I configure the plugin through constants so that emails are catched by mailHog on port 1025
[code]

In the plugin configuration page I can see that WPMS_MAIL_FROM and WPMS_MAIL_FROM_NAME are taken into account but when I use the Test email feature ("Email Test" tab), email is sent through port 25 and go right into the real recip

[2018-07-25 17:33] slaFFik commented on #18
@cycomarcooo
Please make sure that no other SMTP-related plugins installed and activated. They may break compatibility.
I suspect something is rewriting global `$phpmailer` object, and breaking the configuration.

[2018-07-26 08:41] cycomarcooo commented on #18
Hi @slaFFik, I create a wp installation from scratch with no other plugin and the default theme and I'm facing the same result. Am I missing something big? Can I kindly ask you to try to reproduce the thing on your side?

[2018-08-23 09:58] sergeliatko commented on #18
Hi guys,

I have similar issue on live website https://www.mauicondohomes.com

Plugin was previously configured via admin settings. The I followed the advice about the password being set via wp-config.php and removed the password value from admin settings (left password field empty and saved)

Test email fails:

[code]

Works fine if I put the password back into the admin settings.

[2018-08-23 09:59] sergeliatko commented on #18
the code in wp-config.php

[code]

[2018-08-23 13:28] codymorgan commented on #18
If it's helpful at all to the debugging, i'd like to mention that i am experiencing the same behavior, but with an additional variable:

I am using a wordpress multisite installation and the primary site seems to be reading the constants as expected, but subsites are only reading the from name, from email, and mailer field values, the rest are blank but uneditable.

[2018-08-27 22:03] fagiani commented on #18
@slaFFik Any clues on this yet?

I'm also facing same issues of some of the ENVs not being set like `WPMS_SMTP_HOST` and `WPMS_SMTP_PORT` on a fresh install.

It looks like some recent changes may have affected this behavior as it used to work fine.

Some of the ENVs do reflect normally like `WPMS_MAIL_FROM`, `WPMS_MAIL_FROM_NAME` and `WPMS_MAILER` and below I've attached the error details if it h

[2018-09-21 13:27] UpstateGuy opened #19 "Compatibility with PHP 7.2?"
Needing to update PHP on WordEngine -- ran compatibility checker and received the results below -- 4 warnings and 5 errors.  Will this be resolved if/when I move to PHP 7.2?

## Plugin version 1.3.3.

FILE: /nas/content/live/onondagabar/wp-content/plugins/wp-mail-smtp/vendor/guzzlehttp/promises/src/functions.php
--------------------------------------------------------------------------------------

[2018-09-21 15:27] slaFFik commented on #19
Plugin is fully compatible with PHP 7.2.
These errors are in a lib that is using certain techniques as fallbacks for older PHP versions.

[2018-09-21 15:27] #19 closed, assigned to nobody

[2018-09-23 21:18] MathijsNL opened #20 ""From Email" setting not working with Gmail"
# Plugin version 1.3.3

## Current Behavior
After setting up mail with Gmail, everything works as expected. If I change the "From Email" setting this is not respected by either the plugin or the Google API.

## Expected Behavior
Gmail should accept a working mail alias when available (for example other domain or same domain, as long as I can send it from that address when using Gmail myself)

## P

[2018-09-23 21:33] MathijsNL commented on #20
Using the Check Email plugin [https://wordpress.org/plugins/check-email/](https://wordpress.org/plugins/check-email/) it is possible to send mails on all available aliases.

![image](https://user-images.githubusercontent.com/1612886/45933230-f021bb00-bf88-11e8-9208-d30ec6c868a3.png)

[2018-09-23 22:09] MathijsNL commented on #20
Sorry to have bothered you. I guess something with the domain settings wasn't properly propagated... Feels silly.

So what is working:
Every mail address that is available in Gmail can be used as "From Email".

[2018-09-23 22:09] #20 closed, assigned to nobody

[2018-10-01 10:18] slaFFik commented on #18
@fagiani
Check this: https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting#could-not-instantiate-mail-function

@codymorgan WPMS has known issues, no ETA on a release with full WPMS support.

@sergeliatko
You were connecting to `mail.mauicondohomes.com` but connected to `host.techspokes.com` instead. That's MITM attack or specific server configuration. Ask your hosting support to investigate

[2018-10-01 10:20] slaFFik commented on #18
@cycomarcooo
Something is definitely changing PHPMailer object settings on the fly. Try to clear all caches after saving settings in WP Mail SMTP.
That's not the issue with the plugin itself in this particular situation, so I'm closing the issue.

[2018-10-01 14:19] sergeliatko commented on #18
@slaFFik

You were connecting to mail.mauicondohomes.com but connected to host.techspokes.com instead. That's MITM attack or specific server configuration. Ask your hosting support to investigate, they seem to be rerouting SMTP requests to own servers. Also, make sure that the password in wp-config is properly displayed.

Thanks, that's the same physical server actually... host.techspokes.com is t

[2018-10-01 17:34] slaFFik commented on #18
@sergeliatko
Yes, give them that **SMTP Debug:** log and ask why do you get this error and that you are sure that auth data is correct. And also why you are connected to `host.techspokes.com` when SMTP requests is initiated to `mail.mauicondohomes.com`.

[2018-10-03 16:34] sergeliatko commented on #18
@slaFFik Thanks mate, helped me out. Спасибо, выручил.

[2018-10-24 16:43] drzraf commented on #18
I think I got the problem (please reopen):

Minimal `config.php` file:
[code]

`wp eval 'echo((new WPMailSMTP\Options())->get("smtp","host"));'`
// output "bar"

Now lets set an simple option in database (what happen easily by mistake/misunderstanding):
`wp option set --format=json wp_mail_smtp '{"smtp":{"autotls":true}}'`

Then:
`wp eval 'echo((new WPMailSMTP\Options())->get("smtp","host"));'`
//

[2018-10-30 14:09] slaFFik commented on #18
@drzraf
Hi, thanks for sharing!
I will check all that this or the following week.

[2018-10-31 13:22] atquest opened #21 "Conflics between guzzle latest version and guzzle used in this plugin"
The guzzle version included in the latest version of WP-Mail-SMTP conflicts with the latest version of guzzle (as included in other plugins)

[2018-11-01 09:35] slaFFik commented on #21
@atquest

How is that visible on a site? What are the errors?
Which other plugins are you talking about?

I assume you are on WP Mail SMTP 1.3.3 and Gmail mailer (you haven't explicitly defined that). That issue template is there for a reason, please follow its structure.

[2018-11-02 14:30] slaFFik commented on #16
Hi @stephen-czetty,

It's possible to achieve this using a filter, like this one: https://gist.github.com/slaFFik/c1d7d4249f47da7195fb973109952090

We don't explicitly allow to do that using UI inside the plugin admin area, because this is an incorrect approach, that might lead to security issues.

Thus, I'm sorry, but I will close this PR without merging it.
Although we do appreciate the contribu

[2018-11-12 14:32] Jensderond opened #22 "Mailgun EU Support"
Cannot use this plugin with mailgun when region of mailgun is set to EU.

## Plugin version
1.3.3

## Current Behavior
Debug:
Mailer: Mailgun
Domain not found: domain.com

## Expected Behavior
Expected the domain to be found on mailgun's eu servers.

## Possible Solution
Also check eu.mailgun.com for the domain.

[2018-11-12 18:01] slaFFik commented on #22
@Jensderond
It's a known issue. Will be fixed in the upcoming v1.4.0.

[2018-11-12 18:01] #22 closed, assigned to nobody

[2018-11-18 01:48] jacobschloss opened #23 "v1.3.3, v1.4.0 - requests full gmail permissions"
## Plugin version
Version 1.3.3

## Current Behavior
Plugin requests full access to gmail, including reading email, deleting email, etc on the OATH page

## Expected Behavior
Only send access (https://www.googleapis.com/auth/gmail.send) to be requested via OATH

## Steps to Reproduce (for bugs)

1. Set up google api project, key
2. Configure plugin using key and secret
3. On Oauth page, it will as

[2018-11-22 19:01] slaFFik commented on #18
@drzraf
I can finally confirm the issue. Thank you very much! This will definitely be fixed in WP Mail SMTP 1.4.0.

Although your `wp` commands generated a ton of errors for me, I was able to replicate the behavior using the idea behind your commands.

<details>
<summary>Errors</summary>

[code]
</details>

---

I'm closing this issue, as I'm working on a fix in another repository (this repo is ju

[2018-11-22 19:01] #18 closed, assigned to slaFFik

[2018-11-22 22:22] drzraf commented on #18
The wp-cli warning you mention seems related to a quoting issue. Maybe related to you windows command line syntax/handling.

[2018-11-23 16:09] slaFFik commented on #21
We are using `"google/apiclient": "2.2.2"` library, that has own dependencies that are updated for each release. So for WP Mail SMTP 1.3.0 they were the latest.
WP Mail SMTP 1.4.0 is still using `"google/apiclient": "2.2.2"` - as no newer version released, but its dependecies are updated (like `google/apiclient-services (v0.64 => v0.74)`), and I can't control that.

Here is the list of updated pac

[2018-11-23 16:09] #21 closed, assigned to nobody

[2018-11-29 19:28] 84webdev opened #24 "v1.4.0 - using 0 for SMTP Port results in "Mail is not properly configured" error"
For using the plugin with GoDaddy's mail server (relay-hosting.secureserver.net), the SMTP port needs to be set to 0. This works fine for versions 1.3.3 and below.

However, after updating to version 1.4.0 today, the Email Test page throws a "Mail is not properly configured error" when the SMTP port is set to 0. At that point, it's not possible to send a test email and I'm assuming that other emai

[2018-11-29 19:54] slaFFik commented on #24
Have you tried port 25? I see people using port 25 with that host everywhere.

https://www.godaddy.com/community/Managing-Email/Can-t-Get-GoDaddy-Hosting-and-PHPMailer-to-work/td-p/57698
https://o365info.com/configure-your-wordpress-site-to-send-e-mail-via-godaddy-mail-server-shared-hosting-plan-part-6-6/
https://www.prestashop.com/forums/topic/143911-solvedhow-to-use-godaddys-smtp-email-settings/

[2018-11-29 19:54] #24 closed, assigned to nobody

[2018-11-29 20:29] 84webdev commented on #24
Understood - I just tested with port 25 as you suggested and it's working fine with version 1.4.0.

Thanks very much for your help and keep up the great work!

[2018-12-02 00:44] jacobschloss commented on #23
Same behavior in 1.4.0. [https://wpforms.com/how-to-securely-send-wordpress-emails-using-gmail-smtp/#comment-118167](url) implies that this was needed to fix operation on some sites, but this is a non-starter for some users - we can't allow the possibility that this plugin can read or delete mail from the attached gsuite account.

Is there another workaround for the affected sites?

[2018-12-14 20:34] jessquig opened #25 "Grammar issues in Google mailer notices"
## Plugin version 1.4.1

## Current Behavior

1. There's the same grammar issue in 2 (or technically 4) places: "Gmail doesn't allow to override From Email." and "Gmail doesn't allow to override From Name." (the "doesn't allow to override" part).

2. There's duplicate text for the From Email and then twice for the From Name (http://cloud.supportally.com/559bd5481345)

## Possible Solution

1. Bett

[2018-12-15 11:11] #25 closed, assigned to slaFFik

[2018-12-15 11:11] slaFFik commented on #25
Issue moved to [awesomemotive/wp-mail-smtp-plugin #227](https://github.com/awesomemotive/wp-mail-smtp-plugin/issues/227) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-15 15:40] Franzhitze opened #26 "Unauthenticated Mail not possible"
With the setting Other SMTP, Encryption none, SMTP Port 25, Auto TLS OFF, Authentication OFF I get the following error report. The report says SMTPAuth: bool(true) even the setting is Authentication OFF!

Wolfgang

P.S.:
Versions:
WordPress: 5.0.1
WordPress MS: No
PHP: 7.3.0RC6
WP Mail SMTP: 1.4.1

Params:
Mailer: smtp
Constants: Yes
ErrorInfo: SMTP connect() failed. https://github.com/PHPMailer/P

[2018-12-15 16:22] slaFFik commented on #26
That's because of the constants in `wp-config.php` file. I see that they are set up: Constants: Yes

[2018-12-15 16:37] Franzhitze commented on #26
What does 'Constants: Yes' mean. Yes, the password constant is in wp-config but the setting is 'Authentication OFF' and the user name field and the password field disapeared in the setting page. So it is confusing.

I took out the password field from wp-config with no change.
Wolfgang

[2018-12-15 19:37] jacobischwartz opened #27 "Test page doesn't work when using defined constants and Other SMTP mailer"
When I view this plugin's setting page, I see all the right settings (greyed out). But when I click over to this plugin's test page, the plugin reports that I don't have the sending method configured and that it can't send a test.

I've got a multisite install, am using this plugin version 1.4.1 network-activated and have defined all config items in wp-config.php. I'm using the Other SMTP mailer.

[2018-12-18 07:48] ekandreas commented on #27
Vote up for fixing this issue. Annoying nag in WP as a result. You should filter the nag so it can be removed in specific situations.

[2018-12-21 12:54] fabianonline opened #29 "WPMS_SMTP_AUTHTLS is being ignored if set to false"
Since I have to connect to my SMTP server locally, I can't use encryption. So I have to set AutoTLS to false to prevent it from using STARTTLS and creating certificate mismatches.

I put `define('WPMS_SMTP_AUTHTLS', false);` into wp-config.php, but it is being ignored.

The bug seems to be in `is_const_defined`:

https://github.com/awesomemotive/WP-Mail-SMTP/blob/f8aca0b8310f027985b96e7e0fc82e7842

[2018-12-29 16:11] andriusr opened #30 "WP 3.6 compat: Fatal error in PhpMailer while sending test email"
## Plugin version
1.4.1
PHP version 5.4
WP version 3.9
## Current Behavior

When sending email, error message is generated (in the blank page):
Fatal error: Call to undefined method WPMailSMTP\MailCatcher::getCustomHeaders() in /home/public_html/wp-content/plugins/wp-mail-smtp/src/MailCatcher.php on line 53

Probably this is related to older WP version I am using. Compability with 3.6+ was stated,

[2019-01-02 17:54] MarielOlivasEduTrav opened #31 "Email delivery error WP mail SMTP"
## Plugin version 4.1

## Current Behavior

## Expected Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Screenshots (if appropriate)

[2019-01-02 20:22] slaFFik commented on #31
Hi @MarielOlivasEduTrav

You haven't filled the details about your issue.
Could you please follow the template and fill all the sections with information related to your problem?

[2019-01-09 06:35] lkraav commented on #27
This is real. Seeing the same bug right now on my multisite.

[2019-01-09 06:43] lkraav commented on #28
@jacobischwartz thanks for the effort here, but the PR could certainly be easily modified to fit this plugin's code style better. Do you think you could figure it out?

[2019-01-09 07:40] jacobischwartz commented on #28
@lkraav do you have the ability to accept this PR?

[2019-01-09 16:21] lkraav commented on #28
I do not, but I can see how this PR is not going to pass just because of code style problems alone.

[2019-01-09 16:58] jacobischwartz commented on #28
To be honest, I don't think it's worth my effort given the lack of attention from contributors. You're welcome to commit a reformat if you want.

[2019-01-09 20:14] lkraav commented on #28
I just switched to Post SMTP myself, so not motivated either. Constant-configured WP Mail SMTP simply stopped sending multisite SMTP mails at one point (that's how I got here), no errors visible anywhere while WP Mail Log collected everything (so upstream is fine). I just don't have time to do in-depth debugging right now, so switched to Post SMTP - everything works fine, just doesn't have central

[2019-01-10 10:19] markchitty opened #32 "Double byte characters in from/to/message fields cause email to fail silently"
### Plugin version and configuration
* v1.3.3
* Mailer = Other SMTP
* SMTP settings = localhost:1025, no encryption

### Current Behavior
1.
    * Create an email in Wordpress (e.g. via a contact form or similar)
    * Submit the form to trigger the email being sent.
    * Email is sent \o/
2.
    * Create an email in Wordpress (e.g. via a contact form or similar)
    * **Include double-byte chara

[2019-01-10 17:57] lkraav commented on #32
I also discovered silent fail SMTP issues y-day, and switched to Post SMTP. But would be interesting to know what's wrong here, too.

@markchitty bite -> byte? :)

[2019-01-11 07:42] markchitty commented on #32
@lkraav Oops! Good spot ✔️. Fixed. (Got it right in the body text tho :)

[2019-01-11 17:07] jaredatch commented on #31
Due to no follow up, closing.

[2019-01-11 17:07] #31 closed, assigned to nobody

[2019-01-11 17:21] slaFFik commented on #32
That's interesting.

@markchitty Are you talking about DBC in `From Name`, `From Email` and `To` (recipient).
I would be thankful for a working example of text to check.

[2019-01-11 17:22] slaFFik commented on #27
Thanks for the report.

This will be fixed in the next plugin release.

[2019-01-11 17:28] slaFFik commented on #30
@andriusr
I've tested email delivery with WordPress 3.6, so it should work.
But I will retest again.

Would be helpful, if you could provide more details about your plugin settings, nothing private, just general things:
1. localhost or live site,
1. mailer used (just to be sure),
1. are you using constants to set up the plugin or plugin admin area?
1. do you have other SMTP related plugins activat

[2019-01-11 17:28] markchitty commented on #32
Yes, any DBC in the `From`, `To` headers, or in the message body.

Characters such as bullet, emojis, etc trigger the issue. So a `•` will cause the email to fail whereas `&#x95;` or `&bull;` (html entity code for the same character) are fine.

Fancy quotes (not the usual single quote character) tend to be the problem in the from/to fields - happens if people cut-n-paste a name like _O'Toole_ from

[2019-01-11 17:30] slaFFik commented on #29
Oh, good catch!
Will be fixed in the next plugin release.

Thank you!

[2019-01-11 17:33] slaFFik commented on #26
@Franzhitze, thank you for the update.

1. Is the password the only constant that redefines certain option from plugin admin area?
1. Do you have any other SMTP related plugin activated on a site? They might redefine certain values.

[2019-01-11 17:42] slaFFik commented on #28
@jacobischwartz, thank you for the PR.

@lkraav is correct, I can't merge it as is because of the broken Code Style.
But the fix of that issue will land into plugin core in the next release.

Also, one more thing: the ideal PR is to fix the `Options::get_group()` method, instead of removing its usage. That's how I would personally proceed.

[2019-01-11 17:44] andriusr commented on #30
Hi Slava,I found what was an issue - class-phpmailer.php was outdated on my instance with come classes missing. I got recent version for github and started to work.
Andrius

[2019-01-11 17:51] slaFFik commented on #32
Awesome, thank you!
I will investigate that in details.

[2019-01-11 17:55] slaFFik commented on #30
Thanks for an update.

Do you mean that you "patched" WordPress itself with an updated version of that library? We do not provide a newer version inside our plugin, for compatibility reasons.

[2019-01-11 18:03] andriusr commented on #30
Yes, I replaced library in Wordpress instance.   public $Version = '5.2.22'; works with 3.9 without issues.

[2019-01-12 20:00] DobreBiuro opened #34 "Links in emails are being replaced, 'unsubscribe' is added"
I found that all links in emails sent after I installed WP SMTP v1.4.1 are replaced strangely.
Additionally to every email sent is also added 'unsubscribe' link (also invalid).
In these 2 screens you can see the links in status bar:

https://www.dropbox.com/s/ntzva01g6xeibgw/Zrzut%20ekranu%202019-01-12%2020.54.25.png?dl=0

https://www.dropbox.com/s/5htddfp0uihr006/Zrzut%20ekranu%202019-01-12%2020.

[2019-01-12 21:13] lkraav commented on #34
Specify which gateway you're using. Many have what you describe as standard functionality, and those elements are added after WP Mail SMTP has sent the e-mail to gateway.

[2019-01-13 14:19] DobreBiuro commented on #34
The gateway was 'other smtp.' I configured it to my mailgun settings. I had to use 'other smtp' option because standard mailgun option didn't work at all.

[2019-01-13 16:02] lkraav commented on #34
Either way, it's Mailgun adding those elements.

[2019-01-13 19:49] jaredatch commented on #34
Normally I'd say it's another plugin, but since you said the plugin didn't appear until after you setup SMTP, that's obviously not the case

I would try using a different SMTP Host or different mailer.

My best guess is the SMTP host is filtering the message and adding "unsubscribe" at the bottom to combat spam and improve deliverability.

That text isn't coming from WP Mail SMTP however, that str

[2019-01-13 20:32] DobreBiuro commented on #34
Oke, it can be idd issue at mailgun. I'll contact them tomorrow and whenever they will confirm, I will close this issue. Thanks for your support!

[2019-01-14 15:23] jaredatch commented on #34
@amblyline yeah please follow up and let us know!

If that is something Mailgun is adding, then we need to see are we able to disable that feature or is it something new that you can't turn off.

I don't recall them doing anything like this previously, but wouldn't surprise me they added (and forced) something like this to keep their deliverability good.

[2019-01-14 15:29] jaredatch commented on #34
@amblyline I did some testing in MG and think I found it.

https://cl.ly/8944f46e1154

If those settings are not off (which they probably are not by default), you end up with what you described. So if you're using MG, check those settings.

[2019-01-14 16:49] slaFFik commented on #34
Closing this issue, as this is a Mailgun service configuration (which we don't control), not the plugin itself or its compatibility with Mailgun API.

[2019-01-14 16:49] #34 closed, assigned to nobody

[2019-01-14 23:23] spenserhale commented on #28
@slaFFik I wrote a PR that fixes the Options::get_group() method instead - #35. If you could please review. I had a question since Options::get_group() and Options::get_all() used different styles which once should plugin go forward with.

[2019-01-14 23:24] spenserhale commented on #27
@slaFFik I wrote a PR that fixes the Options::get_group() method instead of fixing this one mailer: #35. If you could please review. I had a question since Options::get_group() and Options::get_all() used different styles; which one should plugin go forward with.

[2019-01-15 09:40] slaFFik commented on #35
The approach in `get_all()` is correct - no direct manipulation with the private `_options` property.
`get_group()` should NOT pass a private `_options` array into a filter - this is a direct manipulation, that can lead to issues later.

So inside `get_group()` `$options = array()` should be defined, used in filter and returned as a default fallback.

[2019-01-15 09:43] slaFFik commented on #35
Also, thank you for fixing copy-paste error in `Sendgrid/Mailer.php`.

[2019-01-15 09:49] slaFFik commented on #28
@spenserhale Reviewed it, thank you!

[2019-01-15 19:29] spenserhale commented on #35
@slaFFik Thank you for your feedback, I have made the requested changes wIth commit:
bafabfb.

[2019-01-16 19:00] DobreBiuro commented on #34
@jaredatch indeed there was a configuration you showed in MG the reason of my issue. Now everything works fine. Thanks everybody for your help!

[2019-01-24 08:50] slaFFik commented on #36
There should be a dot `.` at the end of the sentence (code comment), other than that - looks good and it will be implemented in the next WP Mail SMTP 1.5.0 release.

[2019-01-25 15:18] tflight opened #37 "Desc text about configuring with const and storing pass in DB"
The plugin suggests that if you store the password in the constants/config then the password is not stored in the database. That is true if the password was never stored there, however if you change your configuration and add the password to the constants/config, the password remains in the database.

The message "We highly recommend you setup your password in your WordPress configuration file for

[2019-01-25 18:06] slaFFik commented on #37
Yeah, makes sense to improve the text. That definitely won't hurt and may be useful.

I will think about the exact wording.
@tflight @lkraav, if you have suggestions - they are highly welcomed.

[2019-01-29 21:25] spenserhale commented on #35
@slaFFik I wanted to check in and see if we can get this pull request closed.

[2019-01-30 10:03] slaFFik commented on #35
@spenserhale
I'm currently focusing on some other tasks for the upcoming WP Mail SMTP 1.5.0, but this fix will definitely be included in the next release.

[2019-02-06 12:24] tflight commented on #37
If the constant exists in the config, that is a pretty strong indication the user doesn't want the password in the database. In my opinion, if the password is found in the config **and ** it is seen in the DB, then the plugin should just wipe the one in the DB for you.

If not that approach, I'd at least detect that there is a password in the config and in the DB and alert the user of that conditi

[2019-02-06 12:48] jaredatch commented on #37
I agree that makes sense, we'll see about improving this in the future :)

[2019-02-18 12:00] nawawishkid-old opened #38 "Problem with customizing admin page with "wp_mail_smtp_admin_get_pages" filter"
I'm trying to customize `Settings` tab in plugin's admin page. The customized page is created by extending `WPMailSMTP\Admin\Pages\Settings` class and overriding `display()` method to display only `From Email` and `From Name` field for custom user role.

I replace original page with the customized page by using `wp_mail_smtp_admin_get_pages` filter like this:

[code]

## Plugin version
1.4.1

## C

[2019-02-19 11:42] slaFFik commented on #38
Oh, this is a good thing.
Thank you for the issue and PR!
This is actually already fixed in the next WP Mail SMTP version (not in this repo), upcoming soon.
I'm not closing issue and PR for now, because I will need to test your exact scenario, but it will be live.

[2019-03-05 10:54] EmilienCourt opened #40 "Using aliases with Gmail broke eveything"
Hi,
Having troubles to set up WP Mail SMTP running Wordpress 5.0.3 and WP Mail STMP 1.4.1.
I had set up the Oauth credentials and email to send email from a google group's alias, and everything was working fine.

Just tested today, and it said that the token had been revoked or has expired.

## Plugin version

1.4.1

## Current Behavior

Tried to regenerate the credentials and to change them in th

[2019-03-05 12:35] slaFFik commented on #40
Hi,

Just go and login in the browser to your google account (log out and login again if you are logged in already right now)

There is a setting in plugin admin area under "Misc" tab to remove plugin settings on plugin uninstallation (which means deactivate + delete the plugin itself using WordPress Plugins interface).

This is a limitation of the Gmail integration - it does not allow to overwrit

[2019-03-05 12:36] slaFFik commented on #40
@Emilien942702
Also, this kind of threads are better posted in a [support forum](https://wordpress.org/support/plugin/wp-mail-smtp/).

[2019-03-05 12:36] #40 closed, assigned to nobody

[2019-03-05 12:49] EmilienCourt commented on #40
Thanks for your answer,
Already tried to log out and login again ...
Can not delete the plugin from the WordPress Plugins interface (not FTP on server).
Alright, but I can not change this parameter, and this is configured with my alias, might be the reason of the bug.

Sorry for that, I can create a thread on the support forum if you prefer

[2019-03-06 18:34] clarkewd opened #41 "Sendgrid: Typo in description"
I normally use Google to send emails but was reading over the other built-in options.

On [this line](https://github.com/awesomemotive/WP-Mail-SMTP/blob/47c3e523c8bdff5d7a70f599f732111b91334680/src/Providers/Sendgrid/Options.php#L29) you have the note:

But I think that is actually per day.

[2019-03-07 09:56] slaFFik commented on #41
Good catch, you are totally correct as per [their pricing page](https://sendgrid.com/pricing/).
I will update the description for the next plugin release.

Thank you!

[2019-03-07 09:58] #41 closed, assigned to slaFFik

[2019-03-07 15:11] slaFFik commented on #38
I've implemented this fix in the upcoming release and closing this issue and PR.

[2019-03-07 15:11] #38 closed, assigned to slaFFik

[2019-03-07 15:12] slaFFik commented on #39
Will be released with the next WP Mail SMTP version.

[2019-03-07 15:45] #29 closed, assigned to slaFFik

[2019-03-07 15:49] slaFFik commented on #36
Will be part of the next WP Mail SMTP version.

[2019-03-07 18:21] ethanchoi812 opened #42 "Conflict with WooCommerce Upload Files"
A customer reported conflict between WP Mail SMTP and WooCommerce Upload Files: https://secure.helpscout.net/conversation/793940384/329464?folderId=1536897

WP Mail SMTP 1.4.1
WooCommerce Upload Files 35.9

From the ticket:
"Order of products with Upload Files fails. Orders went through to WooCommerce shop manager, but no files is included. And the wheel just keeps spinning after clicking on the b

[2019-03-12 07:27] gurkan-baykan opened #43 "message":"Following RFC 1341, section 7.2, if either text/html or text/plain are to be sent in your email: text/plain needs to be first, followed by text/html, followed by any other content.","field":"content","help":null" /* How do I do this if I want duplicate content */"
foreach($params as $key => $value )
  {
 $data["personalizations"][]["to"][] = ["email" => $value['eposta'] ];
  $data["subject"] = "HELLO";
  $data["from"]=["email"=>"example@gmail.com"];
  $data["content"][]=["type"=>"text/html","value"=>"<h> $value['content']</h>"];
}

[2019-03-13 16:24] slaFFik commented on #43
@hurkan-sert
Could you please format the issue title and description? I don't understand what you are trying to say.
Also, please define your WP Mail SMTP version and mailer (issue template is here for a reason).

[2019-03-15 08:36] gurkan-baykan commented on #43
hi slaFFİk,
I'm solved problem,thank

[2019-03-15 11:21] #43 closed, assigned to nobody

[2019-03-19 11:57] websupporter opened #44 "`wp_mail_failed` is not fired."
`wp_mail()` provides an action, you can utilize to log when mails are not send: [`wp_mail_failed`](https://github.com/WordPress/WordPress/blob/931f8046d3ab430b6b355428f8d85d9ab1591d1f/wp-includes/pluggable.php#L366). So, if the PHPMailer throws an error, it will be catched by `wp_mail()` and this action will be fired.

In order to tell PHPMailer to throw those exceptions and not to catch them an n

[2019-03-19 13:12] slaFFik commented on #44
Good catch.

This will be fixed in the next release of the WP Mail SMTP plugin.

Thank you!

PS We have own `wp_mail_smtp_providers_mailer_is_email_sent` filter, that can be used to check whether the email was successfully sent.

[2019-03-19 13:13] #44 closed, assigned to nobody

[2019-03-19 13:17] slaFFik commented on #45
🤦‍♂️ Merged without paying attention to the branch :(

[2019-03-19 13:54] websupporter commented on #44
Thanks a lot @slaFFik.

[2019-03-19 13:54] websupporter commented on #45
Should I have made the PR against `develop`? Somehow it looks like its neither in `master` nor `develop` now

[2019-03-19 14:05] slaFFik commented on #45
Yeah, I've reverted. It will be released, don't worry.

[2019-03-19 14:10] websupporter commented on #45
Thanks a lot @slaFFik

[2019-03-20 20:22] Peneheals opened #47 "Can not send test mail if wp-config.php contains advanced plugin confiuration"
## Plugin version

1.4.1

## Current Behavior

After a clean WP install, if I download and enable the plugin, and set it up through the plugin's dashboard, it works fine, I can send the test mail. As it is adviced, I set two variable in the wp-config.php (WPMS_ON to true and the WPMS_SMTP_PASS).

But if I make again a fresh WP install, and do the same (DLing and installing the plugin), but I confi

[2019-03-20 20:29] Peneheals commented on #37
It looks like the options are stored forever in the DB after the user has configured them once. If I configure the plugin through the dashboard and after I set up the same settings in the wp-config.php too, the DB still stores the data, however the dashboard clearly shows the **disabled options**, and indicates that the user can not overwrite those options, because they are stored in wp-config.php

[2019-03-24 23:41] HarveyDoom commented on #30
Can confirm this bug was present on one of my wordpress sites as well.
This site is using Wordpress 4.2.2
Error was the same 'Call to undefined method WPMailSMTP\MailCatcher::getCustomHeaders()'.
Appeared even after all other plugins were disabled.
Fixed by replacing class-phpmailer with 5.2.22 @andriusr Thanks mate!

[2019-03-26 15:19] plenge opened #48 "GuzzleHttp version conflict"
I updated to 1.4.2, and now my site gives me and error in the logs on send.
I have tried rerolling, but I can't seem to make it reverse the tables in the DB, and forgot to backup before -.- (silly me).

This is the error i get:

[code]

When i try to send a mail.
It worked a few days ago, I am using Google as my sender.
And although every setting is set and authentication seems to have gone throug

[2019-03-26 15:27] plenge commented on #48
Okay, right when i posted this, I tried requiring Guzzlehttp via composer myself, and that seemed to fix the issue.
Did something happen since the plugin suddenly needs this added manually? :)

This fix, as it fixed the mail plugin, broke Offload S3, so adding it manually is not a viable fix.

[2019-03-26 16:21] plenge commented on #48
UPDATE:

WP Offload Media Lite and your plugin is the ones that are messing with each other.
But i really need both plugins :/

I'll get back if i find a solution, but if you have any ideas, please let me know :)

[2019-03-27 10:36] plenge commented on #48
UPDATE::

WP Offload Media namespaces its versions of GuzzleHttp that are bundled with the plugin with a Delicious Brains / WP Offload Media specific namespace and only references those namespaced versions itself.

It looks like WP Mail SMTP does not give its bundled version of GuzzleHttp a uniquely scoped namespace and as such probably accidentally uses WP Offload Media version of the classes as

[2019-04-02 12:17] petejaff opened #49 "Using org.uk as From Email causes send to fail"
## Plugin version
1.4.2

## Current Behavior

If I use xxx@yyy.org.uk in the From Name field the mail test fails to send.
If I remove the .uk leaving the address as xxx@yyy.org the mail test sends successfully.

## Expected Behavior

Able to use xxx@yyy.org.uk in the From Name field, the mail test send is successful.

## Possible Solution

## Steps to Reproduce (for bugs)

1. With a working set up

[2019-04-04 10:12] slaFFik commented on #49
At the bottom of this error there is a link: "Click here to view the full Error Log for debugging". Please click it and provide here the output that you will see there.

[2019-04-04 10:35] petejaff commented on #49
Thanks for looking,

Here is the requested output.

Versions:
WordPress: 4.9.10
WordPress MS: No
PHP: 7.0.30
WP Mail SMTP: 1.4.2

Params:
Mailer: smtp
Constants: No
ErrorInfo: The following From address failed: xxx@yyy.org.uk mailto:xxx@yyy.org.uk : MAIL FROM command failed,Sender Domain Invalid (VM420) ,550,5.1.8SMTP server error: MAIL FROM command failed Detail: Sender Domain Invalid (VM420) SMT

[2019-04-13 08:15] petterstahre opened #50 "WP Mail SMTP and Mailgun: "Domain not found" when EU region is set"
I have the same problem as reported in https://github.com/awesomemotive/wp-mail-smtp/issues/22 but that issue is closed and it seems it wasn't fixed in version 1.4.
(Thanks Jensderond, you saved my day :)

## Plugin version: 1.4.2

## Current Behavior
When sending mail using Mailgun and Region is set to EU then the debugger reports:
Mailer: Mailgun
Domain not found: xxxx.xxxxx.xx

## Expected Beha

[2019-04-15 09:32] slaFFik commented on #50
That means your domain is verified for US zone and you need to move it to the EU zone to use EU region.

From Mailgun docs:

More information [here (migrate domain)](https://help.mailgun.com/hc/en-us/articles/360007512013-Can-I-Migrate-My-Domain-to-EU-) and [here (general information)](https://www.mailgun.com/regions).

[2019-04-15 09:32] #50 closed, assigned to nobody

[2019-04-23 15:09] slaFFik commented on #49
@petejaff

Take a look at this: http://help.emercury.net/delivery-issues/550-510-invalid-sender-domain

This is a server misconfiguration, not the plugin issue.

[2019-04-23 15:09] #49 closed, assigned to nobody

[2019-04-26 18:07] hctrbz opened #51 "PHP error"
## Plugin version
Version 1.4.2
## Current Behavior

Everything seems to work but when I submit something like add a new user to change their role I see this error on a white page.

Fatal error: Namespace declaration statement has to be the very first statement or after any declare call in the script in /home/mahogan9/public_html/agronosotros.com/wp-content/plugins/wp-mail-smtp/src/Providers/Optio

[2019-04-29 10:56] slaFFik commented on #51
1. Remove the current plugin `wp-mail-smtp` that you have installed
1. Reupload the plugin from scratch, install it through WordPress Plugins interface
1. Check again.

I think the plugin files were altered (edited) by someone or something, which is not good.

[2019-05-01 08:11] larsha commented on #47
Having same issue here!

[2019-05-03 11:53] slaFFik commented on #30
Will be fixed in the next version of WP Mail SMTP.

[2019-05-03 13:39] #30 closed, assigned to slaFFik

[2019-05-03 13:47] slaFFik commented on #32
Unfortunately, I wasn't able to replicate. I've tried that dot from above, and also something like `熊本大学` in headers (`From`) and message content - everything works fine.
So I'm closing this issue.

[2019-05-03 13:47] #32 closed, assigned to slaFFik

[2019-05-03 13:48] slaFFik commented on #51
Closing as there were no reply and the issue is definitely (imo) not in the plugin code.
Feel free to reply and the issue persists.

[2019-05-03 13:48] #51 closed, assigned to nobody

[2019-05-03 13:50] slaFFik commented on #23
I understand the frustration, but we need this for future.
We use full gmail access to get the associated email address, and in the future to get access to settings - "Send As", that will allow defining different senders for emails. Currently, Gmail API doesn't allow to modify that (all emails are sent from your connected account), and we plan to fix that.
As the plugin is opensource - you can che

[2019-05-03 13:50] #23 closed, assigned to nobody

[2019-05-03 14:24] slaFFik commented on #28
As `Options::get_group()` will be improved, I'm closing this PR.

[2019-05-03 15:22] slaFFik commented on #33
Thank you for this contribution!

I've applied them separately while working on other things in a new version of the plugin, so I can't merge this PR into the branch as is, but the fixes are already included in the codebase.

[2019-05-03 15:41] slaFFik commented on #37
I have added much more details to the description of this field, so it will be clear of what to expect and what to do in both situations - when the password is saved in DB and using a constant.
Meanwhile, I'm closing this issue, this will be available in the upcoming WP Mail SMTP release.

[2019-05-03 15:41] #37 closed, assigned to nobody

[2019-05-03 15:50] slaFFik commented on #26
Closing this issue due to inactivity.
Most likely credentials were incorrect.

[2019-05-03 15:50] #26 closed, assigned to nobody

[2019-05-03 20:01] Pepapicky opened #52 "Error due to unsolicited and/or bulk e-mail."

[2019-05-04 12:53] #52 closed, assigned to nobody

[2019-05-14 06:44] websupporter commented on #44
Hi @slaFFik,
just a quick reminder :)

I checked the current version 1.4.2 on wp.org and it seems, the problem is still there: https://plugins.trac.wordpress.org/browser/wp-mail-smtp/tags/1.4.2/src/Core.php#L467

[2019-05-14 11:03] slaFFik commented on #44
@websupporter
It will be released in 1.5.0 :)
1.4.2 was a compatibility (with plugins repository guidelines) release.

[2019-05-15 10:29] TimurKelman opened #53 "Class 'SMTP' not found"
Trying to send a test email from the plugin configuration page leads to HTTP ERROR 500, no e-mail and following log entry on the server:

[code]

Sending an email via PHP script using `mail($to, $subject, $message, $headers)` does work.

## Versions
Plugin: 1.4.2
PHP: 7.2.15

AFAIK I haven't done anything fancy regarding server configuration, just straight forward LAMP + Wordpress + postfix.

[2019-05-15 13:55] slaFFik commented on #53
As I understand, you are using "Other SMTP" mailer, correct?

[2019-05-15 14:14] TimurKelman commented on #53
Yes, I'm using "Other SMTP" configured to a local SMTP-server.

[2019-05-16 11:59] slaFFik commented on #53
That might be the reason - incorrect local SMTP server configuration.

See this:
[code]

WordPress and the plugin is using not the phpmailer class that is bundled with WordPress, but something else (the one bundled with SMTP server?).
This is not a plugin code problem, so I'm closing this GH issue.

[2019-05-16 11:59] #53 closed, assigned to nobody

[2019-05-16 12:06] TimurKelman commented on #53
The SMTP-server is a Microsoft exchange server somewhere else entirely. The Wordpress should be just talking to it via the SMTP-protocol. After I disabled this plugin, sending e-mails using "Contact Form 7"-Plugin is actually working without any additional configuration from me.

[2019-05-16 16:55] slaFFik commented on #35
This will be included into the next WP Mail SMTP release.

Thank you for your contribution!

[2019-05-16 16:56] slaFFik commented on #27
Seems to be fixed in #35.

[2019-05-16 16:56] #27 closed, assigned to slaFFik

[2019-05-16 16:56] slaFFik commented on #47
Seems to be fixed in #35.

[2019-05-16 16:56] #47 closed, assigned to nobody

[2019-06-16 14:52] jonasskafte opened #54 "WooCommerce 'Reply-to' email wrong"
## Plugin version
1.4.2

## Current Behavior
'Processing order' emails from WooCommerce has the wrong 'Reply-to' email.

Here are my WP Mail SMTP settings:

![Screenshot-2019-06-16-at-15 30 30](https://user-images.githubusercontent.com/11773776/59565472-0b1ee880-904c-11e9-8147-1f0701f5a5b4.jpg)

And here are my WooCommerce settings:

![Screenshot-2019-06-16-at-15 34 02](https://user-images.githubu

[2019-06-21 10:34] slaFFik commented on #54
I don't see an issue.
`From Email` address and `Reply-To` are two different headers in emails.
WP Mail SMTP and WC both allow you to define `From Email`, but they don't give you an UI to change the `Reply-To`. WP Mail SMTP will reuse any headers that were passed to it, either `From Email` or `Reply-To`.

`Reply-To` is defined somewhere in code.

[2019-06-21 10:34] #54 closed, assigned to nobody

[2019-06-22 13:10] F4FXL commented on #18
Hi,

I had a smilar issue, after moving password to wp-config.php test email failed. The issue was caused by cached php files. I had to clear OPCache and then it worked.

[2019-07-12 09:16] Dubaidogfish opened #55 "1.5 update clones initial emails"
Version: 1.5

When sending 2 notification emails from a Gravity form submission, 1 to admin and 1 to the user,  v1.5 now sends the admin email twice and misses the user email.

Expected behaviour as happened before the update, is to get one each.

When sending notifications in WP Job Manager (I'm using Smyles WP Job Manager Emails plugin with this) to alert me to job listings approaching expiry I

[2019-07-12 10:10] slaFFik commented on #55
Hi,

This issue is under investigation. Should be fixed in the v1.5.1 soon.
Could you please tell which mailer are you using?

[2019-07-12 10:14] Dubaidogfish commented on #55
Thanks for the quick reply. I'm using it with Mailgun.

[2019-07-12 13:57] slaFFik commented on #55
Found the source of the issue, will be fixed in the upcoming 1.5.1.

[2019-07-12 13:57] #55 closed, assigned to slaFFik

[2019-07-12 19:28] lkraav commented on #55
Thanks. How come https://github.com/awesomemotive/WP-Mail-SMTP/releases aren't up to date?

[2019-07-12 19:42] slaFFik commented on #55
We have a different repository for Pro version of the plugin. Their structure differes a bit, and it's currently a manual job to sync these 2 repos, that's why I haven't done that yet, as I was focused on pushing the release. I think I will sync them tomorrow.

[2019-07-23 02:40] Akaoni opened #56 "Versionless Download (Nearly) Empty"
## Plugin version

1.5.2

## Current Behavior

I download the plugin via the versionless URL (to install latest version to a Docker image):
https://downloads.wordpress.org/plugin/wp-mail-smtp.zip

The downloaded archive only contains `/wp-mail-smtp/readme.txt` however, no actual working files.

## Expected Behavior

It'd be nice if this download worked so I don't have to manually maintain a hard-c

[2019-07-23 07:57] slaFFik commented on #56
It seems, WordPress.org recently changed the way the zip is built when accessing downloads.wordpress.org/plugin/wp-mail-smtp.zip.
It used to understand the stable version from `readme.txt` and download the one from a proper `tags/*`, but now it's not the case.
An easy solution is to duplicate all the code into `trunk/*` in SVN, but you know, that a duplicate...

[2019-07-23 11:46] slaFFik commented on #56
So this is indeed an issue on WP.org side, but I've copied current 1.5.2 tag into `/trunk`, so the URL [downloads.wordpress.org/plugin/wp-mail-smtp.zip](https://downloads.wordpress.org/plugin/wp-mail-smtp.zip) should work soon as expected.

[2019-07-23 11:46] #56 closed, assigned to nobody

[2019-07-23 12:18] Akaoni commented on #56
Awesome, thanks!!

[2019-08-12 05:41] websupporter commented on #44
Just updated. wanted to leave a thx @slaFFik :heart:

[2019-09-02 14:18] martinrios95 opened #57 "WooCommerce emails doesn't work on checkout but test emails do"
## Plugin version
1.6.0

## Current Behavior

Test e-mails work properly, but if you make an action related with WooCommerce, it won't send e-mails to the customer or the WooCommerce admin.

## Expected Behavior

Both type of e-mails should work: testing and WooCommerce related.

## Possible Solution

WooCommerce uses `wp_mail()` to send any type of emails.
I wonder if WP Mail will affect the plug

[2019-09-02 14:46] slaFFik commented on #57
Hi, thanks for the report.
Straightforward cases were tested with Woocommerce. So to investigate I need more details.

1. Which mailer are you using?
1. Is it WordPress or WordPress Multisite?

[2019-09-02 15:04] martinrios95 commented on #57
Hi, thank you for your answer.
1) We were using PHP's default mailer.
2) WordPress, latest version.

[2019-09-02 16:34] slaFFik commented on #57
1. When you use default mailer - you actually don't use WP Mail SMTP functionality at all. Default mailer is left for compatibility, and it does absolutely nothing to improve email deliverability. You should also see a notification in your admin area that says you to configure the plugin. Please choose any other mailer (Sendinblue, Mailgun, Sendgrind)  or Gmail/Other SMTP and configure the plugin

[2019-09-02 16:34] #57 closed, assigned to nobody

[2019-09-03 11:55] martinrios95 commented on #57
Hi, I'll try to change the mailer. If I configure the plug-in and it doesn't work, I will write here again on this thread. Thanks :)

[2019-11-20 22:33] hirenshah commented on #48
Is there a fix for this then?

[2019-12-18 14:15] frcweb opened #61 "Woocommerce From Name Fail"
Using Google SMTP, I have tried multiple methods but none work.

1. Set From Name in Gmail settings
2. Set From Name using wp filter and hard coding
3. Set From Name in woocommerce email settings
4. Set From Name in WP MAIL SMTP

The From Name works in Email Test for WP MAIL SMTP. It will show My Site <noreply@mysite.com>

The From Name FAILS for emails sent from woocommerce orders. It displays th

[2020-01-17 12:25] siccovansas opened #62 "Can't select another mailer on mobile"
## Plugin version
1.8.1

## Current Behavior
I can't select a mailer on Android mobile/tablet using either Firefox or Chome. When I want to select a mailer different than the default php mailer, nothing happens.

## Expected Behavior

When I tap on another mailer it should be highlighted in orange and the radio button should be active.

[2020-01-21 17:13] sanzeeb3 commented on #62
@siccovansas - I am not able to recreate the issue. Could you please switch to the default WordPress themes like Twenty Twenty and confirm the issue? If so, please share more details on your environment.

[2020-01-24 00:10] siccovansas commented on #62
@sanzeeb3 I am actually using Twenty Twenty. Some more information about my environment:
- Latest Firefox for Android or Chrome
- Samsung S10
- Android 10

Are there other details I can provide?

(ps: accidentally hit the close issue button, ignore that :D)

[2020-01-24 15:07] slaFFik commented on #62
The site theme on the front-end will not have any effect on the WP Mail SMTP plugin admin area.

@siccovansas
I've tested on Google Pixel 2 XL with the latest Android, and wasn't able to replicate the issue.
Can you please record a video and attach it here (or upload somewhere), so we can see that?

[2020-01-25 03:40] siccovansas commented on #62
Here I'm clicking on 'Other SMTP', 'Gmail' and 'Sendgrid'. They are highlighted in grey, but the radio button isn't select (neither when I press the radio buttons directly).
![MP4_20200125_001040](https://user-images.githubusercontent.com/696839/73115840-e60c2580-3f0a-11ea-9311-be4481a3fb15.gif)

[2020-01-27 13:05] slaFFik commented on #62
Oh, I see now. Thank you for the gif! Those options have the attribute `disabled`.
That means that there are constants in your `wp-config.php` file, that instruct the plugin to set certain values for certain plugin options.

Please open `wp-config.php` and find these lines:
[code]
You should change the 1st line to `define( 'WPMS_ON', false );`. That will unblock the manual mailer selection.

More

[2020-01-27 13:05] #62 closed, assigned to nobody

[2020-03-03 21:54] mspace00 opened #63 "from email address greyed out, cannot change from email"
## Plugin version
1.8.1

## Current Behavior

From email field greyed out during gmail setup process which was never successfully completed. Moving to Pepipost and now I can't change the from email. Tried deleting and reinstalling plugin but problem persists.

## Expected Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Screenshots (if appropriate)

[2020-03-03 22:39] slaFFik commented on #63
@mspace00
Pepipost allows changing the FROM email address, while Gmail does not.
You need to switch from Gmail to Pepipost, save the plugin settings (there is a "Save Settings" button at the bottom of the page), and after page reload you will be able to change FROM Email address value.

If that FROM Email field is still blocked for you, that means that it is set as a constant in your `wp-config.ph

[2020-03-03 22:39] #63 closed, assigned to nobody

[2020-03-04 16:02] TamarCohen opened #64 "authorization leads to 403 forbidden"
## Plugin version
גרסה 1.8.1

## Current Behavior

[https://www.cps.co.il/wp-content/uploads/2020/03/403forbidden.jpg](url)
## Expected Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Screenshots (if appropriate)

[2020-03-04 17:31] slaFFik commented on #64
This can be due to security prevention from your hosting company. Most probably, `mod_security` apache module, it filters out certain requests and redirects them to a 404 or 403 page. You will need to contact your hosting company support team and ask to modify the `mod_security` rule to allow incoming requests from Google that have an URL in one of the GET params.

[2020-03-04 17:31] #64 closed, assigned to nobody

[2020-03-18 10:37] alexivashchenko commented on #65
Sometimes the "$all" array has unordered keys,
for eample:
`Array
(
    [0] => Error while sending via Gmail mailer: {
 "error": "invalid_grant",
 "error_description": "Bad Request"
}
    [4] => Mailer: Gmail
{
 "error": "invalid_grant",
 "error_description": "Bad Request"
}
    [5] => Mailer: Gmail
{
  "error": "invalid_grant",
  "error_description": "Bad Request"
}
)`
In this case I get Notice o

[2020-03-18 10:38] slaFFik commented on #65
Awesome, thank you for your PR.
The fix will be included into the next release of the WP Mail SMTP plugin (soon) :)

[2020-03-19 20:48] quadcom opened #66 "Multisite Network Admin can't use"
I have WPSMTP installed in a multisite. The plugin is network active. The admin is available in all of the child sites but it is not available to the network admin.

I have iThemes security installed on the same multisite, also network active. None of the security notification emails can be sent as only the Network Admin has access to administer iThemes config.

To simplify, WPSMTP is only availab

[2020-04-06 12:59] timotheemoulin commented on #29
Hi, this bug is still present in the latest 1.9.0 release. 06.04.2020

[2020-04-06 14:13] capuderg commented on #29
Hi,

in the title and the original message of this issue the constant mentioned is `WPMS_SMTP_AUTHTLS`, but that is not the correct name of the constant in question. The correct one is `WPMS_SMTP_AUTOTLS`.

Is that causing the issue?

[2020-04-06 14:16] timotheemoulin commented on #29
Hello,
The issue comes from that a falsy value (0, false, null, '') is considered
to be undefined by the method that checks if the constant has been defined.

Cheers,
tim

[2020-04-06 14:24] capuderg commented on #29
The line in question was updated: https://github.com/awesomemotive/WP-Mail-SMTP/blob/master/src/Options.php#L632

I also debugged it and when I added these two lines to the config.php file:

[code]

The `is_const_defined` returns `false` for the `autotls` option.

[2020-04-06 14:30] timotheemoulin commented on #29
Yes @capuderg this is the line that makes me struggle. The function returns `true` only if the constant has been defined to `'true'` or `true`.

[2020-04-06 14:41] capuderg commented on #29
Hmm... I'm sorry, but I don't understand (I'm a bit confused)... What kind of value (X) would you like to set in this line:

`define( 'WPMS_SMTP_AUTOTLS', X );`

And what are you expecting the outcome for `is_const_defined( 'smtp', 'autotls' )` method to be?

These constants/settings are supposed to be boolean, so `true` and `false` are expected to be set and the same values are expected from the

[2020-04-06 14:44] timotheemoulin commented on #29
I would like to set
`deine( 'WPMS_SMTP_AUTOTLS', false );`
but if I do so, `is_const_defined` returns that the constant is not defined, which is not true as I defined it to `false`.

In my opinion, the method should only check `$return = defined( 'WPMS_SMTP_AUTOTLS' )` and not if there is a truthy value inside.

[2020-04-06 14:55] capuderg commented on #29
Ohh, I see now, I'm sorry, I didn't check how this method is used elsewhere in code... :(

I see the issue now. But I think additional fixes in code are needed as well.

We'll fix this for the next release.

Thanks for your patience.

[2020-04-17 17:18] as3957 opened #67 "SMTP Host parameter getting overridden"
We configured SMTP host as zoho, but the request keeps going to another server, which is local host.  Here is the server response:
020-04-17 16:48:32 SERVER -> CLIENT: 220-e2e-62-90.e2enetworks.net.in ESMTP Exim 4.93 #2 Fri, 17 Apr 2020 16:48:32 +0000 220-We do not authorize the use of this system to transport unsolicited, 220 and/or bulk e-mail.

More log below:

View the full Error Log for debug

[2020-04-20 04:58] capuderg commented on #67
Hi,

it looks like your hosting company is overwriting/forcing the SMTP host.

I would advise you to contact your hosting support and ask them about this issue -> why is the SMTP host being set to their server.

Please let us know, what they answer, so maybe we can improve the plugin for others with similar issues.

Thank you!

[2020-04-23 17:08] #67 closed, assigned to nobody

[2020-04-23 17:10] slaFFik commented on #67
I'm closing the issue, if you have more details or updates from your host - feel free to reply here, I will happily reopen the issue if needed.

[2020-05-04 23:38] siccovansas opened #68 "Remove Site Health warning if 'Current mailer: Default (none)'"
Just having WP Mail SMTP installed and enabled fixes a some email sending problems for me. So even though I have the 'Default (none)' mailer selected, I don't need any more configuration for the plugin to work for me. Still WP Mail SMTP gives me a warning in the WordPress Site Health screen saying that 'WP Mail SMTP mailer setup is incomplete'. For me the configuration is complete and I would like

[2020-05-05 04:40] capuderg commented on #68
Hi,

just activating and leaving the plugin mailer setting at "Default (none)" does not change any aspect of sending emails in WP, so it's strange it does for you. That's why we have this site health test, to encourage the users to configure one of the mailers...

What kind of issues do you have with sending emails before you install and activate our plugin?

As for disabling the site health check

[2020-05-06 09:58] siccovansas commented on #68
Thanks for your reply!

If I disable WP Mail SMTP and try to recover my WordPress password I get the following error:

I if (network) enable WP Mail SMTP (using the 'Default' mailer) and try to recover my password I have no problems and a password recovery email is sent.

I have no clue how WP Mail SMTP has this effect, but using the 'Default' mailer does change something. Some more info: I've con

[2020-05-06 10:37] slaFFik commented on #68
@siccovansas Thank you for additional details, much appreciated.

1. Could you also describe how your FROM Email setting is configured inside WP Mail SMTP plugin admin area?

2. (From this point I assume that your domain is `example.com`).
By default, WordPress tries to send emails using `wordpress@example.com` email address in its FROM header. WP Mail SMTP allows you to reconfigure that. So what'

[2020-05-06 10:41] slaFFik commented on #66
Hey @quadcom

Thanks for your report. We are aware of this issue and it's currently in the works. We plan to greatly improve compatibility with WordPress Multisite installations and provide additional configuration options for power users.
I can't provide you any ETA, but it will be done soon. Just check the changelog with each plugin release :)

[2020-05-06 10:41] #66 closed, assigned to nobody

[2020-05-06 10:45] slaFFik commented on #48
The issue is multi-layered.

Firstly, different plugins use different versions of the Guzzle lib. One uses the latest, others - older versions.
Secondly, we are indeed not prefixing (namespacing) Guzzle and other libraries inside WP Mail SMTP plugin, yet.

We are working on a fix and will start prefixing everything and after that, no more issues with Guzzle (and other libs) versions compatibility

[2020-05-06 10:45] #48 closed, assigned to nobody

[2020-05-06 10:46] #42 closed, assigned to nobody

[2020-05-06 11:04] slaFFik commented on #61
Google API does not give permissions. They do a weird amount of checks, and from what I found the last time I investigated the issue is that local sites may display properly defined FROM Name/Email, while real sites do not.
It looks like Google tries to access the site while sending the email, and if it can't (local site) - it fails its own checks and pass-through FROM Name. On a live site that wa

[2020-05-06 11:04] #61 closed, assigned to nobody

[2020-05-07 11:52] ethanchoi812 opened #69 "Incorrect Domain Name in Mailgun mailer allows test email to be sent successfully"
https://secure.helpscout.net/conversation/1156784272/682394/

## Expected Behavior

Incorrect Domain Name in Mailgun mailer should not allow test email to be sent successfully

## Current Behavior

Incorrect Domain Name in Mailgun mailer allows test email to be sent successfully

## Steps to Reproduce

1. Setup Mailgun mailer, but with incorrect domain in the Domain Name field in WP Mail SMTP (see

[2020-05-07 13:48] capuderg commented on #69
Moved the issue to the original repo

[2020-05-07 13:48] #69 closed, assigned to nobody

[2020-05-07 14:02] siccovansas commented on #68
Thanks for your help!

I use the following settings in wp-config.php:

[code]

Note that this is a multisite installation of WordPress and the main domain is `sub.example.com`.

The MX is Google. SPF and DKIM are used yes.

[2020-05-26 20:00] luckysistemi opened #70 "No mail are sent with PHP 7.3"
## Expected Behavior

send email

## Current Behavior

no mail are sent

## Possible Solution

this happens only with php7.3. it works well with previous version

## Steps to Reproduce

1. configure email parameters (ssl, 465, authentication active)
2. event with test, nothing is sent.
3.
4.

## error report

Versions:
WordPress: 5.4.1
WordPress MS: No
PHP: 7.3.14-1~deb10u1
WP Mail SMTP: 2.0.1

Pa

[2020-05-26 20:39] slaFFik commented on #70
@luckysistemi
That means SSL is not configured properly in relation to the PHP 7.3.

Check this message in the debug output:

Most likely PHP 7.3 is using incorrect certificates.
Related:
- https://stackoverflow.com/questions/26148701/file-get-contents-ssl-operation-failed-with-code-1-failed-to-enable-crypto
- https://github.com/PHPMailer/PHPMailer/issues/1309

[2020-05-26 20:39] #70 closed, assigned to nobody

[2020-06-08 13:58] kjburto opened #71 "Update 2.1.1 killed website had to deactivate"
## Expected Behavior

Updated plugin to 2.1.1

WordPress version 5.4.1
Current theme: OceanWP (version 1.8.3)
Current plugin: WP Mail SMTP (version 2.1.1) PHP version 7.3.18

## Current Behavior

Updated the plugin and it crashed my website

<details>

[code]

</details>

[2020-06-08 14:19] slaFFik commented on #71
@kjburto
Action Scheduler (the library that is used by WooCommerce and was implemented in WP Mail SMTP 2.1) was not able to create database tables for some reason.

1. Does the MySQL user that is defined in your wp-config.php file have the `CREATE` permission to create DB tables?
1. How exactly were you updating WP Mail SMTP plugin (step by step please)
1. Could you please list all other active Wo

[2020-06-08 14:32] kjburto commented on #71
1. I am the admin and should have that access.
2. I logged into website and went to Dashboard>Updates, then clicked radio button for updates to all plugins and updated like usual.
3. Existing plugins - CallRail Phone Call Tracking, Elementor, Elementor Pro, Essential Addons for Elementor, Gravity Forms, Gravity Forms Dropbox Add-On, Gravity Forms Zapier Add-on, Happy Elementor Addons, Imagify, Ins

[2020-06-08 14:43] slaFFik commented on #71
@kjburto

1. I'm talking about MySQL user, not WordPress user. Those are credentials used to create new tables in your database.
1. Got it, thank you.
1. Thank you for the list.

Regarding clearing those options - yes, please proceed with `schema-ActionScheduler_LoggerSchema` and `schema-ActionScheduler_StoreSchema`.

[2020-06-08 14:48] kjburto commented on #71
Okay I have cleared those and reactivated the plugin and all seems good now. Thank you

[2020-06-08 14:50] slaFFik commented on #71
Awesome, thank you for your collaboration!

[2020-06-08 14:50] #71 closed, assigned to nobody

[2020-06-10 01:45] abronton opened #72 "Critical Error"
I installed and activated WP Mail SMTP from within my WP site and it immediately gave me a "There has been a critical error on your website. Please check your site admin email inbox for instructions."  I'd like to go to my site admin email but the listed email doesn't exist.

No matter what I click on in the admin center nothing changes.  How do I remove the plugin and rescue my site?

[2020-06-10 04:28] capuderg commented on #72
Hi @abronton,

I'm sorry you had a bad experience with our plugin.

It's very likely that your WP site failed to create the database tables needed for the plugin to work properly. Since your WP dashboard is inaccessible, please follow [these steps](https://wordpress.org/support/topic/there-has-been-a-critical-error-on-your-website-45/page/2/#post-12961434) to potentially resolve your issues.

The

[2020-06-10 09:25] #72 closed, assigned to nobody

[2020-06-12 16:10] JulioNobre opened #73 "Uncaught RuntimeException Unclosed quotation mark after the character string ' after upgrade to 2.1.1 version"
## Introduction
After todays upgrade to version 2.1.1, WP Mail SMTP plugin started to fail.

## Failure symptoms
Whenever I access my Wordpress intranet site I started to get the following exception

**Fatal error**: Uncaught RuntimeException: Error saving action: Error saving action: [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]**Unclosed quotation mark after the character string '**O:30

[2020-06-14 09:00] slaFFik commented on #73
Hello.
I feel sorry that you are experiencing this issue, although it's out of our control.
Our plugin is using Action Scheduler library, developed by Automatic, under the hood. Only MySQL is supported properly by WordPress, WP Mail SMTP and Action Scheduler at this time.

I would suggest you to reply in this thread to notify library authors that they might need to start considering MSSQL support:

[2020-06-14 09:00] #73 closed, assigned to nobody

[2020-06-30 23:52] pkarjala opened #74 "WordPress 5.5 alpha deprecates class-phpmailer.php, breaks sending functionality"
## Expected Behavior
When running wp-mail-smtp in WordPress 5.5, it should have normal functionality.

## Current Behavior
When running wp-mail-smtp in WordPress 5.5, it throws a warning when WP_DEBUG is on that `class-phpmailer.php` is being deprecated, as per the following warning:

[code]

In addition, attempting to send a test email using a correctly configured, previously working setup on Wor

[2020-07-01 05:56] capuderg commented on #74
Hi @pkarjala,

thank you again for providing detailed information about this issue.

As [answered here](https://wordpress.org/support/topic/wordpress-5-5-deprecates-functionality/),  we will prepare the plugin to work with WP 5.5 when it releases. We have an internal GH issue already opened for this issue, so I'll be closing this one.

We do really appreciate your time to let us know about this is

[2020-07-01 05:56] #74 closed, assigned to nobody

[2020-07-10 18:16] nscunex opened #75 "error in health status of wp after update to version 2.2.1"
Hi,
i am getting the following error message after updating to WP Mail SMTP 2.2.1 under health status of my wp page:

Missing table: lzbD6m_wpmailsmtp_tasks_meta

WP Mail SMTP is using custom database tables for some of its features. In order to work properly, the custom tables should be created, and it seems they are missing. Please try to re-install the WP Mail SMTP plugin. If this issue persist

[2020-07-11 16:21] mothernateur opened #76 "Does NOT work: remove ALL WP Mail SMTP data upon plugin deletion"
## Expected Behavior

When I check the box to delete all data when the plugin is uninstalled, none of my information should be remembered when I re-install. Settings/General fields should be blank.

## Current Behavior

When I re-install, the information that I previously entered before uninstalled, is remembered and already filled in in the fields. Because of this, I am unable to continue setup,

[2020-07-12 01:57] mothernateur opened #77 "Update from my previous bug issue, now it won't save anything!"
## Expected Behavior

When I fill in all the fields and click save, it should save, and I should then see a button that says, "Allow plugin to send emails using your Google account". And then everything should be confirmed and set up is complete.

## Current Behavior

When I fill in all the fields and click save, the page refreshes and all the fields are empty. So now nothing is getting saved (whi

[2020-07-13 04:45] capuderg commented on #75
Hi,

could you please let us know what version of MySQL and PHP is your site using?

We make a simple check for the needed tables, with this query: `SHOW TABLES LIKE lzbD6m_wpmailsmtp_tasks_meta`, would you mind executing this on your DB and see what it returns? It should return the exact same name of the DB table, so `lzbD6m_wpmailsmtp_tasks_meta` in your example.

Thank you and take care!

[2020-07-13 05:15] capuderg commented on #76
Hi @mothernateur,

could you please tell us some basic site info:
- PHP version
- MySQL version
- WP version
- are you using a WP MultiSite (network)?
- a list of all active WP plugins

Is your hosting using some external DB caching system?

I just tested out the uninstall process on a fresh WP installation and the Gmail setup that I had configured was successfully removed and upon re-installing o

[2020-07-13 05:17] capuderg commented on #77
Let's discuss both of these issues you are having in the first GH issue you opened.

I'm closing this issue for now, since I think whatever was causing the issue #76, is probably causing It for this issue as well.

[2020-07-13 05:17] #77 closed, assigned to nobody

[2020-07-13 06:56] nscunex commented on #75
We use MySQL 5.7 and PHP 7.4.7. Here are some addional information from our PHP errorlog for you:
2020-07-11T22:50:10+00:00 CRITICAL Uncaught Error: Call to undefined method WPMailSMTP\Tasks\Meta::get_table_name() in C:\Inetpub\vhosts\antheia-seifen.de\httpdocs\wp-content\plugins\wp-mail-smtp\src\Core.php:760
Stack trace:
#0 C:\Inetpub\vhosts\antheia-seifen.de\httpdocs\wp-content\plugins\wp-mail-s

[2020-07-13 08:11] capuderg commented on #75
This error is 2 days old... did it maybe occur only once after the update or is it reoccurring every time you load a page? If it only occurred once, it might be because of OPcache and is not causing the issue you are experiencing now on the WP Site Health page.

Please try the MySQL query and let me know what it returns.

[2020-07-13 09:37] nscunex commented on #75
The error happens each time when i reload the page health status of Wordpress. The release before 2.2.1 dont caused this error message.
Which SQL-query should i try ... "select * from ...?!"

[2020-07-13 09:49] capuderg commented on #75
Oh, so you get this `CRITICAL Uncaught Error: Call to undefined method WPMailSMTP\Tasks\Meta::get_table_name()` error in your error log each time you refresh the WP Site Health page or do you mean that you get the `Missing table: lzbD6m_wpmailsmtp_tasks_meta` error on each WP Site Health page refresh?

Are you maybe using any caching plugins? Or is your hosting company using any caching systems?

[2020-07-13 09:52] nscunex commented on #75
![sql_output](https://user-images.githubusercontent.com/68124658/87291228-4b76c180-c4ff-11ea-91af-cb1409ef44f1.JPG)

[2020-07-13 09:54] nscunex commented on #75
![sql_test](https://user-images.githubusercontent.com/68124658/87291435-998bc500-c4ff-11ea-9c75-6494dd7555bc.JPG)
this sql syntax causes an error ...

[2020-07-13 09:56] capuderg commented on #75
Thank you very much!

I see the issue now. Your DB prefix has an uppercase "D" in it and the returned string from the query has a lowercase "d" and so the check fails.

Could you please check in your DB if all your tables have a prefix with the uppercase or the lowercase "D".

Thank you very much!

[2020-07-13 10:02] nscunex commented on #75
![sql2](https://user-images.githubusercontent.com/68124658/87291862-4403e800-c500-11ea-88d0-f184a1c51bfb.JPG)
"select tables" shows me for all tables a lowercase "d". There seems to be a bug in the code to the new  version 2.2.1.

The PHP errorkog shows here the following:
2020-07-11T22:50:10+00:00 CRITICAL Uncaught Error: Call to undefined method WPMailSMTP\Tasks\Meta::get_table_name() in C:\Inet

[2020-07-13 10:05] nscunex commented on #75
![health](https://user-images.githubusercontent.com/68124658/87292433-166b6e80-c501-11ea-9331-068220bef897.JPG)
This is the concerning error message in the health status of wp each time, when you open the page.

[2020-07-13 10:07] nscunex commented on #75
Now i see the error. the database has a lower "d". you are getting an upper "D" as response from your php code ...

[2020-07-13 10:13] capuderg commented on #75
We are getting the DB table prefix from the WordPress DB object: `$wpdb`. Could you please check your `wp-config.php` file and check what value does the `$table_prefix` variable hold?

[2020-07-13 10:22] nscunex commented on #75
`$table_prefix = 'lzbD6m_';`
when changing the uppercase "D" to a lowercase "d" i will get the error message "Sie sind leider nicht berechtigt, auf diese Seite zuzugreifen." when accessing to the health status page. our system runs under plesk latest release.

[2020-07-13 10:33] capuderg commented on #75
Yes, it looks like there is a MySQL setting which determines how the `SHOW TABLES` command will return the table names, either lower case only, original, or...

Anyway, we'll fix this in the plugin and the fix will be available in the next plugin update.

Thank you very much for reporting this issue.

[2020-07-13 11:07] mothernateur commented on #76
Morning,
Please bear with me, as I am essentially a "newbie" to tech/designing sites.
I don't know how to find out my MySql version, but my site is being designed on WordPress by me.

WordPress Version: 5.4.2
PHP: 7.3

I am assuming by "WP Multisite", you're asking if I have more than one site on WordPress? If so, then yes. I have another site also on WP which I created 2 years ago, same theme and

[2020-07-13 12:07] capuderg commented on #75
We've fixed the issue in our plugin code, so this fix will be available in the next plugin update.

[2020-07-13 12:07] #75 closed, assigned to nobody

[2020-07-13 23:22] mothernateur commented on #76
Now another update... Since my last message from this morning, I have deleted the plugin, cleared my cache and data, logged out of WordPress, restarted my computer, opened a new window, logged back into all accounts, installed WP Mail SMTP... and this time only half of the fields were remembered. So I went through the whole entire process with making a new project to get a new ID/Secret. When I cl

[2020-07-14 05:41] capuderg commented on #76
By WP multisite I mean this: https://www.wpbeginner.com/glossary/multisite/, but from what you described, I don't think you are using a multisite version of WP :) You have several standalone WordPress installations...

Is this site that you are working on accessible only locally (you are developing this site locally before it will be hosted on a server)?

Which fields were still populated? If the

[2020-07-14 12:02] mothernateur commented on #76
I read the link that you provided, and I don't think it is multisite. However, all 5 of my sites are under one account, but they different domains and they aren't linked to each other. 2 of them used to have the same theme and plugins, both had SMTP set up without any issues, but different emails. I didn't not have any issues setting up the SMTP for those. This site now has the same theme and plug

[2020-07-14 14:47] capuderg commented on #76
Where are you hosting this site (are you working on it locally or is it hosted on a server, which hosting company)?

Could you please try selecting the "Other SMTP" mailer in the plugin settings, change the "SMTP Host" to "test.mail.com" and save the settings. Did the settings saved this time or did it also jump back to the default settings (Default (none) mailer)?

If you have access to PHP error

[2020-07-16 23:04] mothernateur commented on #76
I am hosting on WP... everything is on WP. I was able to solve the issue, so I no longer need help. Thank you for everything!

[2020-07-16 23:04] #76 closed, assigned to nobody

[2020-07-17 04:42] capuderg commented on #76
Hi @mothernateur,

that's great! :)

Could you please share with others what was the issue and how you fixed it?

Maybe we can even improve our plugin so we could prevent this issue...

Have a nice day!

[2020-07-20 07:08] sigismund opened #78 "Trying to get server's hostname using '$_SERVER['SERVER_NAME']'"
## Expected Behavior
Wordpress emails may be sent using PHP-CLI which doesn't have $_SERVER['SERVER_NAME'] defined.

## Current Behavior
Warning (`Undefined index: SERVER_NAME`) is triggered when calling method WPMailSMTP\WP::get_default_email().

## Possible Solution
You could try switching to gethostname(); which is available in all supported PHP versions.

[2020-07-20 07:38] capuderg commented on #78
Hi Žiga,

we are using the exact code WP core is using for getting the default WP email address: [wp core code](https://github.com/WordPress/WordPress/blob/master/wp-includes/pluggable.php#L333).

Does this PHP warning actually prevent you from sending emails? This should not cause a fatal error and should return `wordpress@` where called in our plugin (instead of `wordpress@example.com` if the se

[2020-08-02 09:48] sigismund commented on #78
Hi Gregor :)

This is not entirely true, if you look at [WP SMTP code](https://github.com/awesomemotive/WP-Mail-SMTP/blob/ddf20a5acb637a15a8661178f4dc9ccc5cf10380/src/WP.php#L253) you will see that it uses `$_SERVER` while WP Core uses home url as "source".

It's true that this doesn't prevent me from sending emails, but warnings are usually there for a reason ;)

[2020-08-03 06:21] capuderg commented on #78
Hi,

hehe, they changed the code for WP 5.5 ([link](https://github.com/WordPress/WordPress/commit/d7453598b3950111af2ff12b01ef3cc007c5a009))... They used the "`$_SERVER`" code for a while now :)

We'll probably do the same in our plugin.

Thank you for reporting this issue!

Lep pozdrav! :)

[2020-08-15 00:22] aidik opened #79 "Document Filter and Action changes"
## Expected Behavior
It would be nice if you would give a little bit more love to documentations of changes to Filters and Actions. A short line in release notes can go a long way.

## Current Behavior
Filters and Actions are kept a mystery.

## Screenshots
Not applicable.

Thank you in advance for considering my proposition & Thank you for a great plugin!

[2020-08-17 10:38] slaFFik commented on #79
Hello @aidik

Are you talking about mentioning which filters/actions were added in new releases? We basically add them in a new code when we see they might be useful.

[2020-08-17 10:40] slaFFik commented on #78
This is fixed and will be released in the upcoming v2.3 of the plugin.

[2020-08-17 10:40] #78 closed, assigned to nobody

[2020-08-17 10:43] slaFFik commented on #68
So basically changing `WPMS_MAIL_FROM` setting helps. This is out of the plugin control, and for the majority of our users leaving Default mailer doesn't help much, and this is not reliable, so we can't recommend this option.
So for now we won't change this behavior. But I've added a note and we will monitor the performance and effect of this option on other sites.

Thanks for the additional infor

[2020-08-17 10:43] #68 closed, assigned to nobody

[2020-08-18 13:55] seanqc opened #80 "Not compatible with Wordpress 5.5"
Currently unable to send any emails (including test emails). Issue appeared after upgrading to WordPress 5.5, with wp_debug enabled the following messages appears:

Deprecated: class-phpmailer.php is deprecated since version 5.5.0! Use wp-includes/PHPMailer/PHPMailer.php instead. The PHPMailer class has been moved to wp-includes/PHPMailer subdirectory and now uses the PHPMailer\PHPMailer namespace

[2020-08-18 14:05] capuderg commented on #80
Hi @seanqc,

which version of our plugin are you using?

The current/latest version of our plugin 2.2.1 already has support for WP 5.5 and should not be causing this Deprecated notice.

If you are on the v2.2.1 then I think some other plugin is requiring the old version of PHPMailer class.

Please search your server for "PHPMailer" in the `.php` files and check which plugin/theme is requiring the

[2020-08-18 14:13] seanqc commented on #80
Wow I'm so sorry I didn't check if I had the latest version of your plugin... I just updated and everything is working for fine. Sorry about that and keep up the great work!

[2020-08-18 14:13] #80 closed, assigned to nobody

[2020-08-20 09:52] jarrodbell commented on #48
Have you got a fix for the scoping yet? This is causing your plugin to fail when other plugins use a namespaced Guzzle library. The other plugins function fine, but this plugin fails.

[2020-08-20 10:14] slaFFik commented on #48
Hey @jarrodbell,

We already have a fix and currently testing it internally. The current plan is to release it in mid-September. We need more people updating their sites to WP 5.5 because it has some fixes with flushing PHP OPCache that will help avoid issues on users' sites.

[2020-08-20 18:24] aidik commented on #79
Hi Slava (@slaFFik),

yeah, that would be ideal. With the WP 5.5 there is a little schism where some filters are working only on specific versions of WP. For example `wp_mail_smtp_providers_mailer_get_body` would not be triggered at all on WP 5.5

You have an extensive support for filters/actions and as you said you are indeed adding them everywhere it makes sense and might be useful. It is a pity

[2020-08-21 05:41] capuderg commented on #79
Hi @aidik,

so you hooked to `wp_mail_smtp_providers_mailer_get_body` and it's not triggering on WP 5.5, but it did on WP 5.4?

Which mailer are you using? I would like to look into this issue.

[2020-08-25 20:59] aidik commented on #79
@capuderg other mailer. I believe that this code is used instead: https://github.com/awesomemotive/WP-Mail-SMTP/blob/master/src/MailCatcherV6.php

[2020-08-26 04:52] capuderg commented on #79
Hi @aidik,

the filter you mentioned: `wp_mail_smtp_providers_mailer_get_body ` is here: https://github.com/awesomemotive/WP-Mail-SMTP/blob/master/src/Providers/MailerAbstract.php#L219

And it does not trigger in WP 5.5 as well as WP 4.9.

The "Other SMTP" mailer uses this method to send an email in WP 5.5: https://github.com/awesomemotive/WP-Mail-SMTP/blob/master/src/MailCatcherV6.php#L36 and thi

[2020-08-26 15:19] aidik commented on #79
@capuderg yeah I figured that out before. That is ok, I was just looking for some documentation or mentions on release notes. As I was saying just one line: "`wp_mail_smtp_abc` is deprecated, use `wp_mail_smtp_xzy` instead." In release notes would make it easier. It is just a suggestion.

[2020-08-29 13:26] thegadflyuk opened #81 "Apparent issue with Gmail connector"
## Expected Behavior
I have connected our G Suite account, and test e-mails send successfully. On that basis I would expect system e-mails to send successfully too.

## Current Behavior
Apparently a system e-mail was supposed to have been sent, and wasn't. I got the following notification from WP Mail SMTP:

`EMAIL DELIVERY ERROR: the plugin WP Mail SMTP v2.3.1 logged this error during the last ti

[2020-08-31 04:36] capuderg commented on #81
Hi @thegadflyuk,

the first thing that comes to mind would be, that another plugin is loading a different version of the Google API library: `google/apiclient`. Since that plugin (or a theme) is loading an older version of the Google API library and is loading it first, our plugin does not have any chance, but to use this loaded library.

Could you please tell us some basic WP site information? PH

[2020-09-02 05:26] malwarebo commented on #81
I have the same issue. This is specific to when you try to send emails using the Gmail mailer service in the plugin. No other plugin on my sites is using Google API client.

`PHP Fatal error:  Uncaught Error: Undefined class constant 'VERSION' in /var/app/current/web/app/plugins/wp-mail-smtp/vendor/google/apiclient/src/Google/Client.php:1109\nStack trace:\n#0 /var/app/current/web/app/plugins/wp-ma

[2020-09-02 07:32] capuderg commented on #81
Hi @malwarebo,

your PHP error is connected with the Guzzle library. The line 1109 in `google/apiclient/src/Google/Client.php` is trying to get the guzzle's `VERSION` constant, but it can't find it.

I think some other plugin is loading the latest version of Guzzle library 7.x (which only supports PHP version 7.2+) and since we also support PHP 5.5 we can't update to the latest version of Guzzle.

[2020-09-02 07:36] #81 closed, assigned to nobody

[2020-09-03 11:38] capuderg commented on #79
Hi @aidik,

we try not to remove or change the existing filters/actions. But we'll try to include that info if it ever comes to that in the changelog or in some other way.

Thank you for your feedback, we appreciate it!

[2020-09-03 11:38] #79 closed, assigned to aidik

[2020-09-03 13:52] malwarebo commented on #81
Hey @capuderg , yes there was a plugin using the Guzzle library. I deleted the plugin, and I am still seeing this issue. I don't think there is any other plugin using the Guzzle library. Thanks looking forward to the fix!

[2020-09-03 14:23] capuderg commented on #81
Hi @malwarebo,

please make sure there aren't some other plugins that are using Guzzle as well. You can just temporarily disable them, to test if our plugin starts to work again.

Which plugin did you remove so far? Was it using the latest Guzzle version 7.x?

If you have any caching plugins, please clear all cache before performing the test again.

Take care!

[2020-09-10 15:02] hlaporthein opened #82 "Remove Database Table With Confirmation"
I think that would be great if you add database table removed after uninstall with confirmation deleting data.

I think when website administrator remove the plugins, database table also should remove?

[2020-09-10 17:38] slaFFik commented on #82
Hey @hlaporthein

It's already possible to remove tables and all plugin data from the database on plugin uninstall (when it's deleted). Just go to WP Mail SMTP > Settings > Misc page, and check the "Uninstall WP Mail SMTP" option.

After that when plugin is deleted it will remove all tables with `wp_wpmailsmtp_*` prefix and all of its options etc.

[2020-09-10 17:38] #82 closed, assigned to nobody

[2020-09-12 13:09] toomanyairmiles commented on #15
Like the other user I am the host, and have your plugin running on 40 sites. One site however produces a 404.

[2020-09-14 04:28] capuderg commented on #15
Hi @toomanyairmiles,

you are running 40 sites, all on the same server and all are using our plugin with the Gmail mailer?

Does this site maybe have some additional security/firewall plugins, that might be causing this issue?

Do you have mod_security enabled on the server?

[2020-09-15 17:38] greyhorsepilates opened #83 "Code error on pluggin 'WP Mail SMTP'"
## Expected Behavior

Pluggin should work and send emails to current and new clients that signup.

## Current Behavior

After investigation, we have found that there is be an error on the code of the plugin `WP Mail SMTP`.
Upon reviewing our logs, we found the message below:

[code]

We proceeded to deactivate the aforementioned plugin and now the website is working.
We would suggest you contact y

[2020-09-16 04:29] capuderg commented on #83
Hi @greyhorsepilates,

this is a strange issue and it usually occurs on corrupted files. Maybe it got corrupted while installing/updating?

Could you please check the content of that file on your server: `/imovepilates-www/wp-content/plugins/wp-mail-smtp/src/MailCatcherInterface.php`? Is there any whitespace or other charcters before the `<?php` tag or around it (before the `namespace WPMailSMTP;`

[2020-09-17 00:31] xihh87 opened #84 "Retry 3 times sending on temporary connection errors"
## Expected Behavior

When the SMTP server is temporarily unavailable, retry sending the message after some timeout.

## Current Behavior

Sending email fails when for any reason the SMTP server is temporarily unavailable.

## Screenshots

![2020-09-16-193035](https://user-images.githubusercontent.com/16003955/93405660-31d15d80-f853-11ea-82dc-3cba4df190c2.png)

[2020-09-17 04:37] capuderg commented on #84
Hi @xihh87,

thank you very much for your feedback, we really appreciate it. I have added this to our feature request lists to consider when we plan for the future releases.

Thank you and have a nice day!

[2020-09-17 04:37] #84 closed, assigned to nobody

[2020-09-23 19:13] tc2u4me opened #85 "opens new page"
## Expected Behavior

It should activate so I can get to settings

## Current Behavior

When I click activate, the plugin takes me to my home page. Can't activate. Uninstalled, reinstalled, same thing.

[2020-09-24 04:25] capuderg commented on #85
Hi @tc2u4me,

I just tested plugin activation and it works OK on my testing site. Also, if this would be a general error a lot of people would report it. I think something else is causing this issue on your site.

Does this happen for any other plugin?

Could you please enable WP debugging with logging? [Here are the instructions](https://www.wpbeginner.com/wp-tutorials/how-to-set-up-wordpress-err

[2020-09-24 10:33] toomanyairmiles commented on #15
No, all sites run the exact same config, all are on the same server with the same config.

mod_security is enabled, but there are no site spesific settings.

[2020-09-24 11:25] capuderg commented on #15
Hi @toomanyairmiles,

could you please try to disable mod_security and try again for this site? We just need to be sure, that mod_security is not causing it (even if it worked OK on your other sites).

[2020-09-26 20:52] donaca4555 opened #86 "send email as plane text toggle"
## Expected Behavior
send email as plane text toggle on the main settings page

[2020-09-27 17:25] slaFFik commented on #86
Unfortunately, we won't implement this option.

Various plugins do not provide plain text part of the email. So forcing them to send the content of the email from HTML to plain text will require parsing the original HTML email and preparing a plain text version of it. That's a very complicated task because of the wide variety of plugins and their email designs - it's hard to always correctly prese

[2020-09-27 17:25] #86 closed, assigned to nobody

[2020-10-22 10:20] slaFFik commented on #83
Closing this issue for the lack of activity.

[2020-10-22 10:20] #83 closed, assigned to nobody

[2020-10-22 10:20] slaFFik commented on #85
Closing this issue for the lack of activity.

[2020-10-22 10:20] #85 closed, assigned to nobody

[2020-11-18 11:32] gastornov opened #87 ""a critical error has occurred" in wp-admin"
## Expected Behavior

## Current Behavior
When the pro version is activated from wp-admin, the basic version is deactivated automatically.
But - when plugins are activated ”in bulk”, both plugins get activated, causing wp-admin to be blocked by "a critical error has occurred"

## Possible Solution

## Steps to Reproduce

1. rename plugin folder to "plugins_old" via ftp
2. create folder "plugins" v

[2020-11-19 06:00] capuderg commented on #87
Hi @gastornov

thank you for reporting this issue!

We'll take a look and try to fix this issue for the next plugin update.

Have a nice day!

[2020-11-19 15:52] bhedstrom opened #88 "WP Mail SMTP Wordpress Plugin fatal error brought website down."
We had to disable the plugin to get the site back up.

The reported error is:
Fatal error: require_once(): Failed opening required '/www/wp-content/plugins/wp-mail-smtp/wp-mail-smtp.php' (include_path='.:/usr/share/php') in /www/wp-content/plugins/wp-mail-smtp/wp_mail_smtp.php on line 229

Plugin Version 2.5.1

[2020-11-19 15:59] capuderg commented on #88
Hi @bhedstrom,

did this happen after the plugin just updated to the latest version?

I've downloaded the plugin zip from here: https://wordpress.org/plugins/wp-mail-smtp/ and the file: `wp-mail-smtp/wp-mail-smtp.php` is present... I'm not sure how this error could occur since the file is clearly in the plugin zip file.

Could you please try to manually update the plugin with a new zip file from t

[2020-12-24 06:58] capuderg commented on #87
Hi @gastornov,

could you please let me know which mailer you were using when you bulk activated both Lite and Pro versions of the plugin? Did you by any chance use one of the Pro mailers?

We've tried to reproduce this issue, but could not.

I think the actual critical error in your case was caused by a bug in our plugin, where if you used a PRO-only mailer (configured in the Pro plugin) and then

[2020-12-24 06:58] #87 closed, assigned to nobody

[2021-01-05 10:16] hlaporthein commented on #82
Hello @slaFFik , Here is video screencast, why it is not working.  https://drive.google.com/file/d/1jKH5ybzusaXDje2ibMn-rxqSP8EDabuX/view?usp=sharing

[2021-01-05 10:24] slaFFik commented on #82
@hlaporthein Thanks for the video, now I see where the confusion is.

The tables that are left are all part of the Action Scheduler library, which is indeed bundled into the WP Mail SMTP plugin. But this library is very popular and is used in lots of other plugins, including WooCommerce.
This library creates its own tables only once and they are used by all other activated plugins that have this A

[2021-01-11 07:38] gastornov commented on #87
Hi, sorry for the late response; yes, I use Office 365 mailer.

[2021-01-11 08:12] capuderg commented on #87
Hi @gastornov,

thanks for letting us know. So the issue is indeed like explained in my previous message. It will be fixed in the next plugin update.

Have a nice day!

[2021-01-11 10:19] slaFFik commented on #88
Due to the lack of activity, I'm closing this issue.

[2021-01-11 10:19] #88 closed, assigned to nobody

[2021-02-11 07:49] omarthegeek opened #89 "Wrong Redirect Link from Gmail Mailer Setup"
## Expected Behavior
When trying to connect using Gmail Mailer, and visiting the Gmail permissions approval page, you are then redirected to the plugin page on the wordpress site where the connection is confirmed as "connected" next to the Authorization.

## Current Behavior
The redirect URL that takes you back to the wordpress site from gmail is wrong.

## Possible Solution
Change the redirect ur

[2021-02-11 08:13] capuderg commented on #89
Hi @omarthegeek,

when you click the "Allow" button on the google oAuth end step, you should be taken to the WP Mail SMTP settings page: `/wp-admin/admin.php?page=wp-mail-smtp&success=google_site_linked`

We are using the "options-general.php" because of backward compatibility, but we catch this and then redirect to the plugin settings page before the page loads.

Is it possible, that some other p

[2021-03-25 16:44] slaFFik commented on #89
I'm closing this issue due to no activity from the initial author.

@omarthegeek, feel free to reply here, and we will re-open the issue if anything is needed to be done from our side. Thanks for understanding!

[2021-03-25 16:44] #89 closed, assigned to nobody

[2021-04-12 20:13] ezly123 opened #90 "Empty sub menu item under dashboard menu linking to setup wizard"
## Expected Behavior
No empty menu item should be shown.

## Current Behavior
An empty menu item is shown linking to /wp-admin/wp-mail-smtp-setup-wizard.

## Possible Solution
Get rid of the empty menu item.

## Steps to Reproduce
Not sure, but I've seen this on more than one of my sites using WP 5.4.x.

[2021-04-13 06:57] capuderg commented on #90
Hi @ezly123,

thank you for reporting it. The issue was already fixed in code and the fix will be available in the next plugin update.

Have a nice day!

[2021-04-13 06:57] #90 closed, assigned to nobody

[2021-04-23 20:17] viniciusferrao opened #91 "Proper support for EHLO"
## Expected Behavior
EHLO is being grabbed from the webserver name instead of manually being specified or fetched from the hostname of the machine.

## Current Behavior
We should have some control for EHLO since it may break MTAs that verifies EHLO.

## Possible Solution
https://wordpress.org/support/topic/ehlo-protocol-issue/

## Steps to Reproduce

1. Configure Other SMTP
2. Fail to deliver the

[2021-04-24 08:04] GentleRV opened #92 "Get openssl error"
## Expected Behavior
Negotiate with the sever to get the certificate and store of update it
The email server is Mercury from David Harris with a self generated openssl certificate
Email server works with ssl/tls and no errors receiving or sending emails with ssl/tls enabled

## Current Behavior
 Connection failed. Error #2: stream_socket_client(): SSL operation failed with code 1. OpenSSL Error me

[2021-04-26 05:33] capuderg commented on #91
Hi @viniciusferrao,

for the majority of our users, the default process of retrieving the EHLO value (how PHPMailer bundled with WP core does it) will work just OK.

I think you belong to the more advanced category of users. And for these kinds of issues, we provide hooks (WP actions and filters) in our plugin, so advanced configuration can be done.

You can easily resolve your issue with the prov

[2021-04-26 05:33] #91 closed, assigned to nobody

[2021-04-26 05:45] capuderg commented on #92
Hi,

as you can see from your debug logs the `SMTPSecure` is set to "ssl" and the `Port` is set to "25".  The port value for "ssl" is usually "465" or if you try with "tls", the port should be "587".

Try to change these two settings in the plugin and send a new Test Email. Let us know how it goes.

Take care!

[2021-04-26 12:53] capuderg commented on #92
Just wanted to update this GH issue to let you know that this is more of a support request (than a plugin bug) and these should be created in our support forum on WordPress.org: https://wordpress.org/support/plugin/wp-mail-smtp/.

Please open a support thread in the above link if you need further help.

Have a nice day!

[2021-04-26 12:53] #92 closed, assigned to nobody

[2021-04-26 16:00] viniciusferrao commented on #91
Thanks Greg!

[2021-06-01 05:57] capuderg commented on #93
Hi @lowwebtech,

thank you for preparing a PR for our plugin 👍

We are using an automated image optimization tool called "imagemin" when we are building new plugin releases, but it looks like your tools did find some space to improve them further. Thank you.

I've looked at the images and I did see some differences and some different colors being used in the "wporg" folder, so we'll not use those.

[2021-07-20 16:47] pabloleone opened #94 "Cron tasks are not being processed"
## Expected Behavior
The cron job to process the queue.

## Current Behavior
The cron job keeps failing.

## Possible Solution
I'm not sure, the issue is with PHP 8 as far as I understand, but the code seems a little spaghetti to figure it out quickly.

## Steps to Reproduce
Have a multisite instance of WP with the plugin enabled and served with PHP8 and you'll see the error in the nginx logs.

##

[2021-07-21 05:34] capuderg commented on #94
Hi @pabloleone,

which version of our pro plugin are you using?

Updating to our latest version might resolve this issue for you, if the recurring Action Scheduler task ("cron task") that is causing these issues is coming from our plugin.

Also, in the latest version, we are displaying the Action Scheduler table in WP Mail SMTP -> Tools -> Scheduled Actions. Please take a look and let me know whic

[2021-08-06 06:29] capuderg commented on #94
Hi @pabloleone,

I'm closing this issue because of inactivity, but if you have any new information about this issue, please let us know and we'll reopen it.

Take care!

[2021-08-06 06:29] #94 closed, assigned to nobody

[2021-08-08 02:10] mwoodpatrick opened #95 "Authorization Error"
![auth_issue](https://user-images.githubusercontent.com/2222402/128629979-b2d248a8-456b-439f-ba25-1a6012c0853e.jpg)
## Expected Behavior
I installed version  3.0.2 and was re-enabling the connection

## Current Behavior
Google gave me the error

Authorization Error
Error 400: redirect_uri_mismatch
You can't sign in to this app because it doesn't comply with Google's OAuth 2.0 policy. \n\nIf you're

[2021-08-09 05:26] capuderg commented on #95
Hi @mwoodpatrick

it looks like your Google's OAuth app does not have the correct Redirect URI configured.

Please add the `https://connect.wpmailsmtp.com/google/` URL to your Google's OAuth app Redirect URI setting. You can also [follow the steps in this guide](https://wpmailsmtp.com/docs/how-to-set-up-the-gmail-mailer-in-wp-mail-smtp/), in order to see where this URL has to be added.

Once you d

[2021-08-09 05:26] #95 closed, assigned to nobody

[2021-08-09 21:25] darrencoltman opened #96 "SMTP from GoDaddy not working"
## Expected Behavior

Set up to send from GoDaddy smtp to Gmail inbox.

Test email from WP Mail SMTP works fine, straight to inbox, no problem.

Woocommerce sends automatic emails when new order is received, order status changes, order closed, etc.

Email goes first to GoDaddy servers which forwards this email to Gmail.

DMARC SPF everything set correctly (as shown by successful manual email send

[2021-08-10 05:42] capuderg commented on #96
Hi @darrencoltman,

is the "Force From Email" checkbox setting enabled in our plugin settings? WooCommerce has a separate "From Email" setting and if you are not forcing the from email address that you are authenticated with on the GoDaddy SMTP server, then the emails could end up in spam.

Just to clarify, you are using the "Other SMTP" mailer in our plugin and are using the GoDaddy SMTP server d

[2021-08-10 07:21] capuderg commented on #97
Hi @romainmenke,

thank you for letting us know and providing this PR.

Take care!

[2021-08-10 18:54] darrencoltman commented on #96
Hi Gregor,Thanks for replying.
I did try that the first time I installed it (I tried all combinations of all options), but could not get it to work.

I uninstalled it and tried another plugin and did some other things (added spf/dmarc and other stuff) and that plugin eventually worked, although it would not display images.
Anyway, I uninstalled that other plugin and reinstalled your plugin and now

[2021-08-11 05:49] capuderg commented on #96
Hi @darrencoltman,

that's great to hear. I think it might be the added SPF record. That usually improves email deliverability.

Take care!

[2021-08-11 05:49] #96 closed, assigned to nobody

[2021-08-12 10:42] yancho opened #98 "UTF-8 Encoding"
Hi,

I am copying this from the WP support forum since I believe it is a bug.

We are noticing that the emails sent with WPMail SMTP are being **wrongfully encoded**. While the header shows they are encoded in UTF-8, wherever a non-UK language character is seen in the email, a few garbled texts is visible.

[code]
Note: **Subject: =?UTF-8?Q?Grazzi_tal-booking_tieg=C4=A7ek?=**

We tried also to use

[2021-08-13 05:44] capuderg commented on #98
Hi @yancho,

as I can see from your [WP support thread](https://wordpress.org/support/topic/utf-8-encoding-3/#post-14763028) you fixed the issue by updating to the latest version of our plugin.

I'm closing this issue and thanks for letting us know.

Take care!

[2021-08-13 05:44] #98 closed, assigned to nobody

[2021-08-18 09:57] ID4600 opened #100 "Gmail API no longer working after update"
## Expected Behavior
Gmail API is correctly connected. Can select different email aliases but when sending test mail I get the message that the connections is blocked by host.
Connection was working fine till yesterday, but now it isn't.

## Current Behavior
As said above, can't send out emails anymore. I've contacted google because they manage my email and everything on their side seems to check

[2021-08-19 05:24] capuderg commented on #100
Hi @ID4600,

as you confirmed, the plugin update does not play a role in this issue. So your web hosting company is blocking your requests to Google (the email sending API request) in which case I would recommend contacting your web hosting support and asking them about it. Or the "Invalid address: (From)" error is the issue. When you select the desired From Email address in our plugin settings, p

[2021-08-24 13:58] Industriutrustning opened #101 "SMTP Error: Could not authenticate."
## Expected Behavior

Send mail from wooCommerce

## Current Behavior

Having problem that the plugin wont send mails like password reset.
But it will send the plugin test mail.
And i get the following error:
Email Source: WooCommerce
Mailer: Övrig SMTP
SMTP Error: Could not authenticate.

I have checked with our webbhost and the test mail shows up but not the basic mails from woo

I am using the

[2021-08-25 05:16] capuderg commented on #101
Hi @Industriutrustning,

do you have the "Force From Email" checkbox in the WP Mail SMTP settings enabled?

Are you maybe using the PHP constants to configure our plugin?

Do you have any other "email sending/smtp" plugins installed, that could be causing these issues?

Take care!

[2021-08-25 07:06] Industriutrustning commented on #101
Hi Gregor

Thanks for the help.

Regarding your questions:

Force From Email? No I am not using this.

Using the PHP constants?

I am using the following:

define( 'WPMS_ON', true );

define( 'WPMS_SMTP_PASS);

Regarding other plugins the only thing I can think of is that I am using Mailster to send newsletters but I have not changed anything other than upgrading all plugins to the latest.

Thanks

[2021-08-25 11:03] capuderg commented on #101
Hi Marcus,

do you have your PHP constants set at the end of your `wp-config.php` file? If you do, please move them above this line:
`/* That's all, stop editing! Happy publishing. */`

That might be the reason why some emails get the "Could not authenticate" error.

Take care!

[2021-08-25 11:10] Industriutrustning commented on #101
Hi Gregor

Ok, I will test this. But I think it is strange that it has worked for over a year previously. And I have not changed anything.

Med Vänliga Hälsningar/ With Kind Regards

Marcus Bergqvist

Brännerigatan 19

263 37 HÖGANÄS

Org. Nr: 556941-3940

www.industriutrustning.se <https://www.industriutrustning.se/>

***@***.*** ***@***.***>

Vi vill gärna ha din feedback. Lämna gärna en recensi

[2021-08-25 12:10] Industriutrustning commented on #101
Hi Gregor

Have tested it but it did not work.

Have a nice day.

Med Vänliga Hälsningar/ With Kind Regards

Marcus Bergqvist

Brännerigatan 19

263 37 HÖGANÄS

Org. Nr: 556941-3940

www.industriutrustning.se <https://www.industriutrustning.se/>

***@***.*** ***@***.***>

Vi vill gärna ha din feedback. Lämna gärna en recension.

 <https://g.page/Industriutrustning/review?gm>

Från: Gregor Capuder

[2021-08-25 14:20] capuderg commented on #101
Hi Marcus,

please enable the "Force From Email" checkbox in the WP Mail SMTP plugin and let me know if that resolves it.

Take care!

[2021-08-26 06:38] Industriutrustning commented on #101
Hi Gregor

It did not work, got this error:

Mailer: Övrig SMTP SMTP Error: Could not authenticate.

WooCommerce

/home/indust13/public_html/wp-content/plugins/woocommerce/includes/emails/class-wc-email.php (rad: 655)

Thanks again for the help

Med Vänliga Hälsningar/ With Kind Regards

Marcus Bergqvist

Brännerigatan 19

263 37 HÖGANÄS

Org. Nr: 556941-3940

www.industriutrustning.se <https://ww